<div class="page-header">
  <h2>Icon Colors</h2>
</div>

<p>
  Icons' <code>&lt;use&gt;</code> element will inherit the color of the closest
  parent with a color applied.
</p>

<div class="page-subheader">
  <h3>Applied to Icon</h3>
</div>

<p>
  You can apply a color helper directly to the <code>&lt;svg&gt;</code> element.
</p>

<div class="crds-example" data-processed="true">
<svg class="icon text-primary" viewBox="0 0 256 256">
  <use xlink:href="/assets/svgs/icons.svg#calendar"></use>
</svg>
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;svg class=&quot;icon text-primary&quot; viewBox=&quot;0 0 256 256&quot;&gt;
  &lt;use href=&quot;&#x2F;assets&#x2F;svgs&#x2F;icons.svg#calendar&quot;&gt;&lt;&#x2F;use&gt;
&lt;&#x2F;svg&gt;</pre>
</figure>

<div class="page-subheader">
  <h3>Applied to Parent</h3>
</div>

<p>
  Here the color is applied to the parent element and the icon inherits it.
</p>

<div class="crds-example" data-processed="true">
<div class="text-secondary">
  <svg class="icon" viewBox="0 0 256 256">
    <use xlink:href="/assets/svgs/icons.svg#calendar"></use>
  </svg>
</div>
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;div class=&quot;text-secondary&quot;&gt;
  &lt;svg class=&quot;icon&quot; viewBox=&quot;0 0 256 256&quot;&gt;
    &lt;use href=&quot;&#x2F;assets&#x2F;svgs&#x2F;icons.svg#calendar&quot;&gt;&lt;&#x2F;use&gt;
  &lt;&#x2F;svg&gt;
&lt;&#x2F;div&gt;</pre>
</figure>

<div class="page-subheader">
  <h3>Background Colors</h3>
</div>

<p>
  Notice that if the component in which the icon is placed has an color applied,
  the icon will also inherit that color.
</p>

<div class="crds-example" data-processed="true">
<div class="alert alert-info">
  <svg class="icon" viewBox="0 0 256 256">
    <use xlink:href="/assets/svgs/icons.svg#calendar"></use>
  </svg>
</div>
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;div class=&quot;alert alert-info&quot;&gt;
  &lt;svg class=&quot;icon&quot; viewBox=&quot;0 0 256 256&quot;&gt;
    &lt;use href=&quot;&#x2F;assets&#x2F;svgs&#x2F;icons.svg#calendar&quot;&gt;&lt;&#x2F;use&gt;
  &lt;&#x2F;svg&gt;
&lt;&#x2F;div&gt;</pre>
</figure>
