<div class="page-header">
  <h3>Copy/Voice</h3>
</div>

<div class="alert alert-info">
	Note: All content should be approved by: Adam George before being published to the web.
</div>

<div class="page-subheader">
  <h3>Voice:</h3>
</div>

<p>Crossroads uses informal, conversational language that is seeker-friendly and non-churchy. Our voice is inclusive (no inside jokes, please) and our readability is simple and accessible. The voice of Crossroads should strive to be honest, easy and friendly.</p>

<div class="crds-example crds-text-example" data-processed="true">
	<strong>What’s a seeker?</strong>
	<p>Someone who’s asking questions, from simple curiosity to deep soul-searching. A season of looking for truth, healing, and something to stand on. Seeking God for the first time, God again, or just God in this new community of Crossroads.</p>
</div>

<div class="page-subheader">
  <h3>Audience:</h3>
</div>

<p>We assume that seekers are not familiar with “churchy” language, or that they have negative baggage associated with it. For example, we do not use phrases like “born-again Christian” or “are you saved?” We don’t assume seekers would label themselves as such. Therefore, we don’t use the word “seekers” when speaking to this audience. Instead, we use phrases like “those who want to know more about God.”</p>

<p>When writing a piece for a particular ministry area, it’s critical to consider your audience. For example, Student Ministry would not write a letter addressed to students in the same way they would write a letter to parents.</p>

<div class="page-subheader">
  <h3>A Note About Funny:</h3>
</div>

<p>Crossroads has a great sense of humor. We love to be funny, but there is no rule that everything that’s written has to be funny. Sometimes funny can be distracting, and not everyone’s sense of humor translates well in print. When writing, just ask yourself, “do I feel funny right now?” If the answer is no, it’s OK to write something not funny. It isn’t worth the risk of being misunderstood or having a bad joke flop.</p>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Things we say:</th>
			<th>Things we don’t say:</th>
		</tr>
	</thead>
	<tr>
		<td>
			<ul class="list-unstyled">
				<li>community</li>
				<li>spiritual journey</li>
				<li>people who attend Crossroads</li>
				<li>social event / celebration</li>
				<li>message / talk</li>
				<li>Christ-followers</li>
			</ul>
		</td>
		<td>
			<ul class="list-unstyled">
				<li>fellowship / congregation</li>
				<li>walk with the Lord</li>
				<li>guests / attendees / members</li>
				<li>pot luck / fish fry</li>
				<li>sermon</li>
				<li>Christians / family of believers</li>
			</ul>
		</td>
	</tr>
</table>

<div class="page-subheader">
  <h3>Holy Capitalization!</h3>
</div>

<ul>
	<li>When the word God appears, do not capitalize he in the same sentence.</li>
	<li>Capitalize the first He when referring to God or Jesus if God or Jesus does not precede he.</li>
	<li>Do not capitalize He after the first he has been capitalized in a sentence.</li>
	<li>Bible is capitalized, biblical is not.</li>
</ul>

<strong>Clear as mud? Check out this example:</strong>
<div class="crds-example crds-text-example" data-processed="true">
	<p>God loves us and he cares for us. The people love Him. We receive from Him because he loves us. All of these statements are biblical because they appear in the Bible.</p>
</div>


<div class="page-subheader">
  <h3>Avoid these:</h3>
</div>

<p>Certain writing tendencies can create disconnects for the reader. Here are some examples of common pitfalls to avoid:</p>

<dl class="soft-sides">
	<dt>“Here at Crossroads...”</dt>
	<dd class="soft-bottom font-size-smaller">Avoid communication that creates an “us and them” feeling, like “at Crossroads, we like to...”</dd>

	<dt>“Let’s dive deeper beyond the arm’s length of the weekend and unpack the lies we’ve come to believe about ourselves as we do life together.”</dt>
	<dd class="soft-bottom font-size-smaller">Avoid too much Crossroads jargon. Not everyone’s familiar with these phrases, and many of them have become cliché.</dd>

	<dt>“These things are great stuff...”</dt>
	<dd class="soft-bottom font-size-smaller">Avoid non-descript words like things and stuff.</dd>

	<dt>“Have you ever wondered what everyone is wondering? Have questions? Have you ever wondered who to contact about questions about what everyone is wondering?”</dt>
	<dd class="soft-bottom font-size-smaller">Avoid using too many questions, especially at the beginning.</dd>

	<dt>“We have nothing to fear but fear itself.”</dt>
	<dd class="soft-bottom font-size-smaller">Avoid starting with a quote (or a Bible verse, for that matter).</dd>

	<dt>“love on”</dt>
	<dd class="soft-bottom font-size-smaller">It sounds weird, especially with a reference to kids.</dd>

	<dt>“receive” or “receiving”</dt>
	<dd class="soft-bottom font-size-smaller">These aren’t all bad, but really consider another word first. These tend to be overused.</dd>
</dl>

<div class="page-subheader">
  <h3>Need some Inspiration?</h3>
</div>

<p>Check out our <a href="https://www.crossroads.net/manifesto">manifesto</a></p>