<ddk-jumbotron id="UICountdownHeader"></ddk-jumbotron>

<div class="container">
  <div class="col-md-offset-3">

    <h3 class="component-header">Countdown Timer</h3>

    <p>The default countdown pattern stacks each element in the timer.</p>

    <ddk-example>
<ul class="countdown-timer">
  <li class="countdown-days">03</li>
  <li class="countdown-hours">00</li>
  <li class="countdown-minutes">42</li>
  <li class="countdown-seconds">37</li>
</ul>
    </ddk-example>

    <h3 class="component-header">Countdown Bar</h3>

    <p>Countdown bars get wrapped in a generic <code>.countdown</code> selector.
    This adds support for a <code>.countdown-header</code> selector, which can act
    as a label for your timer.</p>

    <ddk-example>
<section class="container-fluid">
  <div class="countdown">
    <span class="countdown-header">The thing starts in...</span>
    <ul class="countdown-timer list-inline">
      <li class="countdown-days">03</li>
      <li class="countdown-hours">00</li>
      <li class="countdown-minutes">42</li>
      <li class="countdown-seconds">37</li>
    </ul>
  </div>
</section>
    </ddk-example>

    <h3 class="component-header">Color Variations</h3>

    <p>You have the option to adjust the background color of
    the countdown bar, which will adjust the countdown elements' colors.
    Currently, only <code>.countdown-bg-cyan</code> is supported.</p>

    <p>You can also change the text color alone. Currently only
    <code>.countdown-white</code> is supported.</p>

    <ddk-example>
<section class="container-fluid">
  <div class="countdown countdown-bg-cyan">
    <span class="countdown-header">The thing starts in...</span>
    <ul class="countdown-timer list-inline">
      <li class="countdown-days">03</li>
      <li class="countdown-hours">00</li>
      <li class="countdown-minutes">42</li>
      <li class="countdown-seconds">37</li>
    </ul>
  </div>
</section>
    </ddk-example>

    <h3 class="component-header">Floating Timer</h3>

    <p>By wrapping the countdown timer in a <code>.countdown-border</code>
    selector, the countdown will be centered and bordered, so it can float on
    its own outside the context of a color bar.</p>

    <ddk-example>
<div class="countdown countdown-border">
  <ul class="countdown-timer">
    <li class="countdown-days">03</li>
    <li class="countdown-hours">00</li>
    <li class="countdown-minutes">42</li>
    <li class="countdown-seconds">37</li>
  </ul>
</div>
    </ddk-example>

    <h3 class="component-header">Buttons</h3>

    <p>On the cyan countdown bar, buttons with the <code>.countdown-btn</code>
    will have a lightened background.</p>

    <ddk-example>
<section class="container-fluid">
  <div class="countdown countdown-bg-cyan">
    <span class="countdown-header push-right">Thing is happeneing now!</span>
    <a class="btn countdown-btn" href="/live/stream">Watch Now</a>
  </div>
</section>
    </ddk-example>

  </div>
</div>
