<h2 class="page-header">Buttons</h2>

<p>
  The following utilities exist to aid buttons, in addition to the
  standard options for <a routerLink="/ui-components/buttons">buttons</a>.
</p>

<p class="alert alert-info">
  Note that the <code>-mobile</code> class extension applies the code only for
  screens smaller than <code>$screen-xs-max</code> (a Bootstrap SCSS variable).
</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-sm-3">Group of Classes</th>
      <th class="col-sm-9">CSS</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="col-sm-3"><code>.btn-block-mobile</code></td>
      <td class="col-sm-9"><code>display: block;</code><br>
        <code>width: 100%;</code><br>
      </td>
    </tr>
  </tbody>
</table>