<h2 class="page-header">Grid Layout</h2>

<p>Cards can be organized via Bootstrap's grid system or by using a couple handy helper classes included in <code>crds-styles</code>. For example, render cards in two columns by wrapping them with <code>.row</code> and a <code>.cards-2x</code> selector, like so...</p>

<ddk-example>
<div class="cards-2x">
  <div class="row">

    <div class="card">
      <img class="card-img-top img-responsive" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
        alt="Card image caption">
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top img-responsive" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
        alt="Card image caption">
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#">Go somewhere</a>
      </div>
    </div>

  </div>
</div>
</ddk-example>

<br><p>Want to display 4 columns on desktop screens? Just use the <code>.cards-4x</code> selector...</p>

<ddk-example>
<div class="cards-4x">
  <div class="row">

    <div class="card">
      <img class="card-img-top img-responsive" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
        alt="Card image caption">
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top img-responsive" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
        alt="Card image caption">
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
        alt="Card image caption">
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
        alt="Card image caption">
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#">Go somewhere</a>
      </div>
    </div>

  </div>
</div>
</ddk-example>