<h2 class="page-header">Grid Layout</h2>

<p>Cards work with Bootstrap's grid system to control a card's width.</p>

<ddk-example>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="card">
      <img class="card-img-top img-responsive" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
        alt="Card image caption">
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="card">
      <img class="card-img-top img-responsive" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
        alt="Card image caption">
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="card">
      <img class="card-img-top" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
        alt="Card image caption">
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="card">
      <img class="card-img-top" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
        alt="Card image caption">
      <div class="card-block">
        <h4 class="card-title card-title--overlap text-uppercase">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
</ddk-example>