<div class="page-header">
  <h2>Toast Notifications</h2>
</div>

<div class="alert alert-info" role="alert">
  Toast Notifications requires the inclusion of <a class="alert-link" href="https://github.com/PointInside/ng2-toastr" target="_blank">NG-2 Toastr</a> - an external resource used to create Toast Notifications in Angular 2 applications.
</div>

<ddk-example id="toastr"></ddk-example>

<!--<ddk-example data-processed="false">
  <div id="toast-example-container">
    <div ng-reflect-class-name="toast toast-error" class="toast toast-error" style="opacity: 1;">
        <div class="toast-close-button">×</div>
          <div ng-reflect-ng-switch="true">
        <span>
          <p>
            Oops! There was an error retrieving the full address!
          </p>
        </span>
      </div>
    </div>
  </div>
</ddk-example>-->
