<h2 class="page-header flush-top">Base Controls</h2>

<section>
  <h3 class="component-header">Radio Buttons &mdash; Block</h3>

  <ddk-example>
<form class="controls-stacked">
  <label class="control radio">
    <input id="radio1" name="radio" type="radio" checked="checked">
    <span class="control-indicator"></span>
    Option one is selected
  </label>
  <label class="control radio">
    <input id="radio2" name="radio" type="radio">
    <span class="control-indicator"></span>
    Option two will deselect option one
  </label>
  <label class="control radio disabled">
    <input id="radio3" name="radio" type="radio" disabled="disabled">
    <span class="control-indicator"></span>
    Option three is disabled
  </label>
</form>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Radio Buttons &mdash; Inline</h3>

  <ddk-example>
<form class="controls-inline">
  <label class="control radio">
    <input id="radio1" name="radio" type="radio" checked="checked">
    <span class="control-indicator"></span>
    Option 1
  </label>
  <label class="control radio">
    <input id="radio2" name="radio" type="radio">
    <span class="control-indicator"></span>
    Option 2
  </label>
  <label class="control radio disabled">
    <input id="radio3" name="radio" type="radio" disabled="disabled">
    <span class="control-indicator"></span>
    Option 3 (disabled)
  </label>
</form>
  </ddk-example>
</section>
