<div class="jumbotron">
  <div class="container">
    <crds-content-block id="DesignersGettingStartedSectionHeader"></crds-content-block>
  </div>
</div>

<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/getting-started/mobile-first">Mobile First</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/getting-started/prototyping">Prototyping</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/getting-started/responsive-web-design">Responsive Web Design</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
