<h2 class="page-header">Display</h2>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-sm-3">Group of Classes</th>
      <th class="col-sm-9">CSS <code>display</code></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="col-sm-3"><code>.block</code></td>
      <td class="col-sm-9"><code>display: block;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.relative</code></td>
      <td class="col-sm-9"><code>display: relative;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.inline</code></td>
      <td class="col-sm-9"><code>display: inline;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.inline-block</code></td>
      <td class="col-sm-9"><code>display: inline-block;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.static</code></td>
      <td class="col-sm-9"><code>display: static;</code></td>
    </tr>
  </tbody>
</table>