<div class="jumbotron">
  <div class="container">
    <crds-content-block id="AssetLogoHeader"></crds-content-block>
  </div>
</div>

<div class="container">
  <p>
    The Crossroads logo is available in the crds-styles package. It requires
    using wrapping the SVG image in an element using the <code>.logo</code>
    class.
  </p>
  <div class="crds-example">
<div href="#" class="logo">
  <svg viewBox="0 0 578 84" width="578" height="84">
    <use xlink:href="assets/svgs/logo-crds.svg#logo-crds"></use>
  </svg>
</div>
  </div>
</div>
