<h2 class="page-header">Types</h2>

<p>A card is a flexible and extensible content container. It includes options for images, headers, and a wide variety of content.</p>

<section>
  <h3 class="component-header">Default Card</h3>

  <ddk-example>
<div class="card">
  <img class="card-img-top img-responsive" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
    alt="Card image caption">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <h5 class="card-subtitle">Card subtitle</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Go somewhere</a>
  </div>
</div>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Card with Overlapping Header</h3>

  <p>Modifier classes can be added to adjust the look of a given card. Here, the class <code>.card-title--overlap</code> has been added to the header element, which allows the text to overlap a top-placed image and provides a stylized emdash below.</p>

  <ddk-example>
<div class="card">
  <img class="card-img-top img-responsive" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
    alt="Card image caption">
  <div class="card-block">
    <h4 class="card-title card-title--overlap text-uppercase">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Go somewhere</a>
  </div>
</div>
  </ddk-example>
</section
>
<section>
  <h3 class="component-header">Card with Caption Label</h3>

  <p>The class <code>.card-caption</code> can be applied the the <code>.card-block</code> div, enabling a caption overlay on the card image.</p>

  <ddk-example>
<div class="card">
  <img class="card-img-top img-responsive" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
    alt="Card image caption">
  <div class="card-block text-center card-caption">
    <h4 class="card-title">Card title</h4>
    <h5 class="card-subtitle">Card subtitle</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Go somewhere</a>
  </div>
</div>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Cards and Utility Classes</h3>

  <p>Cards can use utility classes to modify their appearance. Here, the text has been centered using <code>.text-center</code>.</p>

  <ddk-example>
<div class="card">
  <img class="card-img-top img-responsive" src="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F38af2a4d-c47b-4d75-aef0-cdc3763a59bf.jpg"
    alt="Card image caption">
  <div class="card-block text-center">
    <h4 class="card-title">Card title</h4>
    <h5 class="card-subtitle">Card subtitle</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Go somewhere</a>
  </div>
</div>
  </ddk-example>
</section>