<ddk-jumbotron id="UIVideoModalsHeader"></ddk-jumbotron>

<div class="container">
  <div class="component">
    <aside class="mobile-push-bottom">
      <nav>
        <ul class="list-unstyled">
          <li routerLinkActive="active">
            <a routerLink="/ui-components/molecules/modals/default">Default</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/molecules/modals/full-page">Full Page</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/molecules/modals/video">Video</a>
          </li>
        </ul>
      </nav>
    </aside>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>