<h2 class="page-header">Card Decks</h2>

<p>A card deck is a group of cards which share the same height as the tallest card in the deck. Height is determined by the length of content within a card, and the card with the most content will dictate the height of the other cards in the deck.</p>

<p class="callout callout-info" role="alert">
  The examples below pull the carousel effect by using the <a href="https://github.com/crdschurch/crds-card-carousel" class="callout-link">crds-card-carousel shared library, along with the library's dependencies.</a>.
</p>

<section>
  <h3 class="component-header">Default Card Deck</h3>
  <p>Adding a data attribute of <code>data-crds-carousel="mobile-scroll"</code> to a card deck and <a href="https://github.com/crdschurch/crds-card-carousel/blob/development/README.md">instantiating the crds-card-carousel script</a> enables side-scrolling on mobile-sized screens only. On larger screens, the layout will be an expanded view, creating new rows for each set of four cards.</p>

  <ddk-example id="card-deck-default" height="500"></ddk-example>
</section>

<section>
  <h3 class="component-header">Card Deck Carousel</h3>
  <p>Adding a data attribute of <code>data-carousel="always-scroll"</code> to a card deck and <a href="https://github.com/crdschurch/crds-card-carousel/blob/development/README.md">instantiating the crds-card-carousel-script</a> will create a side-scrolling effect on all screen sizes.</p>

  <ddk-example id="card-deck-carousel" height="500"></ddk-example>
</section>