<div class="page-header">
  <h3>Color Usage</h3>
</div>

<p>The color palette of Crossroads was inspired by the original building. (If you haven’t seen it, here’s a picture.) Blues, gray, black, and white are all used to convey the bold, masculine tone. The yellow and rust colors are used minimally.</p>

<div class="page-subheader">
  <h3>White Space</h3>
</div>

<p>White space is awesome. It helps give a pause—allowing someone to take in appropriate amounts of visual information. Overwhelming the visitor with too much visual information hinders their ability to connect with our messaging.</p>

<div class="page-subheader">
  <h3>Floods of Color</h3>
</div>

<p>Floods of color are great too. They create visual interest and reinforce our brand. 95% of the time, color floods should be Crossroads Blue - #3B6E8F. 5% of the time, one of our grays can be used. If you find that your design would be made that much better with a different color, you’re probably wrong, but give it a try and <a href="mailto:design@crossroads.net">share it with us anyway</a>.</p>

<p><a href="/ui/colors/swatches">Check out our color palette</a></p>

<p>Check out some examples of our color palette in action.</p>

<ul>
	<li><a href="https://www.crossroads.net/connect/">Connect</a></li>
	<li><a href="https://www.crossroads.net/live">Live Streaming</a></li>
</ul>