<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isMenuCollapsed = !isMenuCollapsed" data-toggle="collapse"
        data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <theme-toggle-switch class="visible-xs-block"></theme-toggle-switch>

      <a class="logo-ddk" routerLink="/">
        <svg viewBox="0 0 50 50" width="50px" height="50px">
          <use xlink:href="/assets/svgs/logo-ddk.svg#logo-ddk"></use>
        </svg>
      </a>
      <a class="navbar-brand" routerLink="/">
        <svg viewBox="0 0 578 84" width="578" height="84">
          <use xlink:href="assets/svgs/logo-crds.svg#logo-crds"></use>
        </svg>
      </a>
    </div>

    <div class="collapse navbar-collapse" [collapse]="isMenuCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li dropdown="for-designers" routerLinkActive="on">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
            For Designers
            <svg class="icon" viewBox="0 0 256 256">
              <use xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
            </svg>
          </a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="mega-menu_list push-bottom">
                    <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Guidelines</h4>
                    <ul class="push-bottom hard-sides">
                      <li><a routerLink="/designers/guidelines/intro" routerLinkActive="active">Intro</a></li>
                      <li><a routerLink="/designers/guidelines/color-usage" routerLinkActive="active">Color Usage</a></li>
                      <li><a routerLink="/designers/guidelines/copy-voice" routerLinkActive="active">Copy/Voice</a></li>
                      <li><a routerLink="/designers/guidelines/logos" routerLinkActive="active">Logos</a></li>
                      <li><a routerLink="/designers/guidelines/photography" routerLinkActive="active">Photography</a></li>
                      <li><a routerLink="/designers/guidelines/typography" routerLinkActive="active">Typography</a></li>
                    </ul>
                  </div>

                  <div class="mega-menu_list push-bottom">
                    <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Getting Started</h4>
                    <ul class="push-bottom hard-sides">
                      <li><a routerLink="/designers/getting-started/mobile-first" routerLinkActive="active">Mobile First</a></li>
                      <li><a routerLink="/designers/getting-started/prototyping" routerLinkActive="active">Prototyping</a></li>
                      <li><a routerLink="/designers/getting-started/responsive-web-design" routerLinkActive="active">Responsive Web Design</a></li>
                    </ul>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </li>

        <li dropdown="for-developers" routerLinkActive="on">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            For Developers
            <svg class="icon" viewBox="0 0 256 256">
              <use xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
            </svg>
          </a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="mega-menu_list push-bottom">
                    <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Getting Started</h4>
                    <ul class="push-bottom hard-sides">
                      <li><a routerLink="/developers/getting-started/intro" routerLinkActive="active">What is the DDK?</a></li>
                      <li><a routerLink="/developers/getting-started/installation" routerLinkActive="active">Installation</a></li>
                      <li><a routerLink="/developers/getting-started/coding-style" routerLinkActive="active">Coding Style</a></li>
                      <li><a routerLink="/developers/getting-started/file-structure" routerLinkActive="active">File Structure</a></li>
                      <li><a routerLink="/developers/getting-started/naming-conventions" routerLinkActive="active">Naming Conventions</a></li>
                      <li><a routerLink="/developers/getting-started/contribution-tips" routerLinkActive="active">Contribution Tips</a></li>
                    </ul>
                  </div>

                  <div class="mega-menu_list push-bottom">
                    <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Learn More</h4>
                    <ul class="push-bottom hard-sides">
                      <li><a routerLink="/developers/learn-more/built-on-bootstrap" routerLinkActive="active">Built on Bootstrap</a></li>
                      <li><a routerLink="/developers/learn-more/css-sass" routerLinkActive="active">CSS/SASS</a></li>
                      <li><a routerLink="/developers/learn-more/grid" routerLinkActive="active">Grid</a></li>
                      <li><a routerLink="/developers/learn-more/web-fonts" routerLinkActive="active">Web Fonts</a></li>
                      <li><a routerLink="/developers/learn-more/custom-npm-packages" routerLinkActive="active">Custom NPM Packages</a></li>
                    </ul>
                  </div>

                  <div class="mega-menu_list push-bottom">
                    <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Third-Party Tools</h4>
                    <ul class="push-bottom hard-sides">
                      <li><a routerLink="/developers/third-party-tools/imgix" routerLinkActive="active">Imgix</a></li>
                      <li><a routerLink="/developers/third-party-tools/maps" routerLinkActive="active">Maps</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li dropdown="ui-components" routerLinkActive="on">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            UI Components
            <svg class="icon" viewBox="0 0 256 256">
              <use xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
            </svg>
          </a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <div class="mega-menu_list push-bottom">
                    <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Core</h4>
                    <ul class="push-bottom hard-sides">
                      <li><a routerLink="/ui-components/core/colors" routerLinkActive="active">Colors</a></li>
                      <li><a routerLink="/ui-components/core/typography" routerLinkActive="active">Typography</a></li>
                      <li><a routerLink="/ui-components/core/utilities" routerLinkActive="active">Utility Classes</a></li>
                    </ul>
                  </div>

                  <div class="mega-menu_list push-bottom">
                    <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Atoms</h4>
                    <ul class="push-bottom hard-sides">
                      <li><a routerLink="/ui-components/atoms/buttons" routerLinkActive="active">Buttons</a></li>
                      <li><a routerLink="/ui-components/atoms/feedback" routerLinkActive="active">Feedback</a></li>
                      <li><a routerLink="/ui-components/atoms/forms" routerLinkActive="active">Forms</a></li>
                      <li><a routerLink="/ui-components/atoms/icons" routerLinkActive="active">Icons</a></li>
                      <li><a routerLink="/ui-components/atoms/labels" routerLinkActive="active">Labels</a></li>
                      <li><a routerLink="/ui-components/atoms/loaders" routerLinkActive="active">Loaders</a></li>
                      <li><a routerLink="/assets/logos" routerLinkActive="active">Logos</a></li>
                      <li><a routerLink="/ui-components/atoms/media-images" routerLinkActive="active">Media Images</a></li>
                      <li><a routerLink="/ui-components/atoms/tables" routerLinkActive="active">Tables</a></li>
                    </ul>
                  </div>

                  <div class="mega-menu_list">
                    <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Molecules</h4>
                    <ul class="push-bottom hard-sides">
                      <li><a routerLink="/ui-components/molecules/accordion" routerLinkActive="active">Accordion</a></li>
                      <li><a routerLink="/ui-components/molecules/avatar-groups" routerLinkActive="active">Avatar Groups</a></li>
                      <li><a routerLink="/ui-components/molecules/cards" routerLinkActive="active">Cards</a></li>
                      <li><a routerLink="/ui-components/molecules/countdown" routerLinkActive="active">Countdown</a></li>
                      <li><a routerLink="/ui-components/molecules/fauxdals" routerLinkActive="active">Fauxdals</a></li>
                      <li><a routerLink="/ui-components/molecules/jumbotrons" routerLinkActive="active">Jumbotrons</a></li>
                      <li><a routerLink="/ui-components/molecules/media-objects" routerLinkActive="active">Media Objects</a></li>
                      <li><a routerLink="/ui-components/molecules/sign-in" routerLinkActive="active">Sign In</a></li>
                      <li><a routerLink="/ui-components/molecules/video-modals" routerLinkActive="active">Video Modals</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li><a href="https://github.com/crdschurch/crds-styleguide" target="_blank">Github</a></li>
        <li class="hidden-xs">
          <theme-toggle-switch></theme-toggle-switch>
        </li>
      </ul>

    </div>
  </div>
</nav>