<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isMenuCollapsed = !isMenuCollapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <theme-toggle-switch class="visible-xs-block"></theme-toggle-switch>

      <a class="logo-ddk" routerLink="/">
        <svg viewBox="0 0 50 50" width="50px" height="50px">
          <use xlink:href="/assets/svgs/logo-ddk.svg#logo-ddk"></use>
        </svg>
      </a>
      <a class="navbar-brand" routerLink="/">
        <svg viewBox="0 0 578 84" width="578" height="84">
          <use xlink:href="assets/svgs/logo-crds.svg#logo-crds"></use>
        </svg>
      </a>
    </div>

    <div class="collapse navbar-collapse" [collapse]="isMenuCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li dropdown="for-designers" routerLinkActive="on">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true">
            For Designers
            <svg class="icon" viewBox="0 0 256 256">
              <use xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
            </svg>
          </a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <a routerLink="/designers" routerLinkActive="active">
                <h3 class="mega-menu_title">Guide for Designers</h3>
              </a>
            </div>
          </div>
        </li>

        <li dropdown="for-developers" routerLinkActive="on">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            For Developers
            <svg class="icon" viewBox="0 0 256 256">
              <use xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
            </svg>
          </a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <a routerLink="/developers" routerLinkActive="active">
                <h3 class="mega-menu_title">Guide for Developers</h3>
              </a>
              <div class="mega-menu_list">
                <p class="font-size-large">Implementation</p>
                <ul>
                  <li><a routerLink="/developers/ng2-components" routerLinkActive="active">NG2 Components</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li dropdown="ui-components" routerLinkActive="on">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            UI Components
            <svg class="icon" viewBox="0 0 256 256">
              <use xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
            </svg>
          </a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <a routerLink="/ui" routerLinkActive="active">
                <h3 class="mega-menu_title">Overview of UI Components</h3>
              </a>
              <div class="mega-menu_list">
                <p class="font-size-large">Core</p>
                <ul>
                  <li><a routerLink="/ui/typography" routerLinkActive="active">Typography</a></li>
                  <li><a routerLink="/ui/colors" routerLinkActive="active">Colors</a></li>
                  <li><a routerLink="/ui/utilities" routerLinkActive="active">Utility Classes</a></li>
                </ul>
              </div>

              <div class="mega-menu_list">
                <p class="font-size-large">Atoms</p>
                <ul>
                  <li><a routerLink="/ui/buttons" routerLinkActive="active">Buttons</a></li>
                  <li><a routerLink="/ui/icons" routerLinkActive="active">Icons</a></li>
                  <li><a routerLink="/ui/forms" routerLinkActive="active">Forms</a></li>
                  <li><a routerLink="/ui/alerts" routerLinkActive="active">Alerts</a></li>
                  <li><a routerLink="/ui/loaders" routerLinkActive="active">Loaders</a></li>
                  <li><a routerLink="/ui/tables" routerLinkActive="active">Tables</a></li>
                </ul>
              </div>

              <div class="mega-menu_list">
                <p class="font-size-large">Molecules</p>
                <ul>
                  <li><a routerLink="/ui/sign-in" routerLinkActive="active">Sign In</a></li>
                  <li><a routerLink="/ui/avatar-groups" routerLinkActive="active">Avatar Groups</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li dropdown="assets" routerLinkActive="on">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Assets
            <svg class="icon" viewBox="0 0 256 256">
              <use xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
            </svg>
          </a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <a routerLink="/assets" routerLinkActive="active">
                <h3 class="mega-menu_title">Assets</h3>
              </a>
              <div class="mega-menu_list">
                <p class="font-size-large">Core</p>
              </div>

              <div class="mega-menu_list">
                <p class="font-size-large">Atoms</p>
                <ul>
                  <li><a routerLink="/assets/logo" routerLinkActive="active">Logo</a></li>
                </ul>
              </div>

              <div class="mega-menu_list">
                <p class="font-size-large">Molecules</p>
              </div>
            </div>
          </div>
        </li>
        <li><a href="https://github.com/crdschurch/crds-styleguide" target="_blank">Github</a></li>
        <li class="hidden-xs"><theme-toggle-switch></theme-toggle-switch></li>
      </ul>

    </div>
  </div>
</nav>
