<h2 class="page-header">Groups</h2>

<h3 class="component-header">Input Addon</h3>

<ddk-example>
<div class="form-group">
  <label for="customAmount" class="sr-only">Amount (in dollars)</label>
  <div class="input-group input-group-block input-group-left">
    <span class="input-group-addon">
      <svg class="icon" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#usd"></use>
      </svg>
    </span>
    <input type="customAmount" name="customAmount" value="" placeholder="Enter Amount" class="form-control">
  </div>
</div>
</ddk-example>

<h3 class="component-header">Input Button</h3>

<ddk-example>
<div class="input-group">
  <input type="text" class="form-control" placeholder="First Name">
  <span class="input-group-btn">
    <button type="submit" class="btn btn-secondary">
      Submit
    </button>
  </span>
</div>
<hr>
<div class="input-group">
  <input type="text" class="form-control" placeholder="Search">
  <span class="input-group-btn">
    <button type="submit" class="btn btn-secondary">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#search"></use>
      </svg>
    </button>
  </span>
</div>
</ddk-example>

<h3 class="component-header">2-Column Input Row</h3>

<ddk-example>
<div class="row">
  <div class="form-group col-xs-6">
    <label for="first_name" class="sr-only">First Name</label>
    <input type="first_name" name="first_name" value="" placeholder="First Name" class="form-control">
  </div>

  <div class="form-group col-xs-6">
    <label for="last_name" class="sr-only">Last Name</label>
    <input type="last_name" name="last_name" value="" placeholder="Last Name" class="form-control">
  </div>
</div>
</ddk-example>

<h3 class="component-header">3-Column Input Row</h3>

<ddk-example>
<div class="row">
  <div class="form-group col-xs-4">
    <label for="cc_exp" class="sr-only">Month/Year</label>
    <input type="cc_exp" name="cc_exp" value="" placeholder="MM/YY" class="form-control">
  </div>

  <div class="form-group col-xs-4">
    <label for="cc_ccv" class="sr-only">CVV Number</label>
    <input type="cc_ccv" name="cc_ccv" value="" placeholder="CVV" class="form-control">
  </div>

  <div class="form-group col-xs-4">
    <label for="cc_zip" class="sr-only">Zip Code</label>
    <input type="cc_zip" name="cc_zip" value="" placeholder="Zip Code" class="form-control">
  </div>
</div>
</ddk-example>

<h3 class="component-header">Radio Button Group with Header</h3>

<ddk-example>
<h3 class="control-label flush-bottom">Frequency:</h3>
<form class="controls-inline flush-top">
  <label class="control radio">
    <input id="radio1" name="radio" type="radio" checked="checked">
    <span class="control-indicator"></span>
    Option 1
  </label>
  <label class="control radio">
    <input id="radio2" name="radio" type="radio">
    <span class="control-indicator"></span>
    Option 2
  </label>
  <label class="control radio disabled">
    <input id="radio3" name="radio" type="radio" disabled="disabled">
    <span class="control-indicator"></span>
    Option 3 (disabled)
  </label>
</form>
</ddk-example>

<h3 class="component-header">Button Form Group</h3>

<ddk-example>
<div class="btn-group btn-group-block">
  <button *ngFor="let button of vert_buttons"
          type="button"
          class="btn btn-option btn-flex btn-outline"
          [class.active]="(button === selectedButton) && !customInputSelected"
          (click)="onSelect(button)">
    <div class="row">
      <div class="btn-group-label">
        <span class="btn-group-icons">
          <svg class="icon circle-thin" viewBox="0 0 256 256">
            <use height="256" width="256" xlink:href="/assets/svgs/icons.svg#circle-thin"></use>
          </svg>

          <svg class="icon check-circle" viewBox="0 0 256 256">
            <use height="256" width="256" xlink:href="/assets/svgs/icons.svg#check-circle"></use>
          </svg>
        </span>
        {{ button.label }}:</div>
      <div class="text-right push-quarter-top">{{ button.amount | currency: "USD": true }}</div>
    </div>
  </button>

  <button type="button"
          class="btn btn-option btn-flex btn-outline"
          (click)="selectedCustom()"
          [ngClass]="{ active: (customInputSelected) }">
    <div class="row">
      <div class="text-left">Custom Option:</div>
    </div>
  </button>

  <div class="custom-input" *ngIf="customInputSelected">
      <form class="custom-input-field"
            action="/">
        <div class="form-group flush-bottom">
          <label class="sr-only" for="custom-input">Custom Input</label>
          <div class="input-group input-group-block input-group-left">
            <span class="input-group-addon">$</span>
            <input type="text"
                  class="form-control"
                  placeholder="Enter Custom Input"
                  id="custom-input"
                  maxlength="9">
          </div>
        </div>
      </form>
    </div>
</div>

<pre>
&lt;div class="btn-group btn-group-block">
  &lt;button class="btn btn-option btn-flex btn-outline active" type="button">
    &lt;div class="row">
      &lt;div class="btn-group-label">
        &lt;span class="btn-group-icons">
          &lt;svg class="icon circle-thin" viewBox="0 0 256 256">
            &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256">&lt;/use>
          &lt;/svg>

          &lt;svg class="icon check-circle" viewBox="0 0 256 256">
            &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256">&lt;/use>
          &lt;/svg>
        &lt;/span>
        Option 1:&lt;/div>
      &lt;div class="text-right push-quarter-top">$100.00&lt;/div>
    &lt;/div>
  &lt;/button>
  &lt;button class="btn btn-option btn-flex btn-outline" type="button">
    &lt;div class="row">
      &lt;div class="btn-group-label">
        &lt;span class="btn-group-icons">
          &lt;svg class="icon circle-thin" viewBox="0 0 256 256">
            &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256">&lt;/use>
          &lt;/svg>

          &lt;svg class="icon check-circle" viewBox="0 0 256 256">
            &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256">&lt;/use>
          &lt;/svg>
        &lt;/span>
        Option 2:&lt;/div>
      &lt;div class="text-right push-quarter-top">$200.00&lt;/div>
    &lt;/div>
  &lt;/button>
  &lt;button class="btn btn-option btn-flex btn-outline" type="button">
    &lt;div class="row">
      &lt;div class="btn-group-label">
        &lt;span class="btn-group-icons">
          &lt;svg class="icon circle-thin" viewBox="0 0 256 256">
            &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256">&lt;/use>
          &lt;/svg>

          &lt;svg class="icon check-circle" viewBox="0 0 256 256">
            &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256">&lt;/use>
          &lt;/svg>
        &lt;/span>
        Option 3:&lt;/div>
      &lt;div class="text-right push-quarter-top">$300.00&lt;/div>
    &lt;/div>
  &lt;/button>

  &lt;button class="btn btn-option btn-flex btn-outline" type="button">
    &lt;div class="row">
      &lt;div class="btn-group-label">
        &lt;span class="btn-group-icons">
          &lt;svg class="icon circle-thin" viewBox="0 0 256 256">
            &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#circle-thin" height="256" width="256">&lt;/use>
          &lt;/svg>

          &lt;svg class="icon check-circle" viewBox="0 0 256 256">
            &lt;use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#check-circle" height="256" width="256">&lt;/use>
          &lt;/svg>
        &lt;/span>
        Custom Option:&lt;/div>
    &lt;/div>
  &lt;/button>
&lt;/div>
</pre>
</ddk-example>

<h3 class="component-header">Input with Clickable Addon</h3>

<p>In some cases, an input may need to have interactive elements (like buttons) nested within itself. These elements are expected to share the same validation and focus states of its input parent. To achieve this effect, a class of <code>.with-icon-btn</code> is added to the <code>.input-group</code> component.</p>

<ddk-example>
<form class="input-group-flex" action=".">
  <div class="input-group with-icon-btn">
    <input class="form-control" type="search" placeholder="Search me">
    <div class="icon-btn-wrapper"></div>
    <span class="addon-btn">
      <button type="button">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#close-thin" />
        </svg>
      </button>
    </span>

    <span class="addon-btn">
      <button type="button">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#equalizer" />
        </svg>
      </button>
    </span>
  </div>
</form>
</ddk-example>

<h3 class="component-header">Input with Clickable Addon and Input Button</h3>

<p>The component above can be expanded upon, including a commonly used Bootstrap element called an <code>.input-group-btn</code>, which is a nice way to say "a button that looks like it's attached to an input." But because this element is already doing some funky stuff with the embedded icon buttons, a class of <code>.with-input-group-btn</code> needs to be added with the <code>.with-icon-btn</code> class to ensure the appropriate layout is rendered.</p>

<ddk-example>
<form class="input-group-flex" action=".">
  <div class="input-group with-icon-btn with-input-group-btn">
    <input class="form-control" type="text" placeholder="Password">
    <div class="icon-btn-wrapper"></div>
    <span class="addon-btn">
      <button type="button">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#close-thin" />
        </svg>
      </button>
    </span>

    <span class="addon-btn">
      <button type="button">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#equalizer" />
        </svg>
      </button>
    </span>

    <span class="input-group-btn">
      <button class="btn btn-secondary" type="submit">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-1" viewBox="0 0 256 256">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#search" />
        </svg>
      </button>
    </span>
  </div>
</form>
</ddk-example>