<h2 class="page-header">Font Scaling</h2>

<p>All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code> are available in both light and dark themes. </p>

<p>By adding a <a routerLink="/ui-components/core/typography/typefaces">typeface selector</a> (e.g. <code>.font-family-base-light</code>) or wrapping these tags in a <a href="/ui-components/core/typography/typesetting">heading selector</a> (e.g. <code>.page-header</code>) you can apply specific typefaces or other style treatments to any heading. For non-header elements, you can use selectors like <code>.font-size-h1</code> through <code>.font-size-h6</code> to apply the same font-sizes illustrated below.</p>

<ddk-example>
  <h1>reachout: the outlet</h1>
</ddk-example>

<ddk-example>
  <h2>reachout: the outlet</h2>
</ddk-example>

<ddk-example>
  <h3>reachout: the outlet</h3>
</ddk-example>

<ddk-example>
  <h4>reachout: the outlet</h4>
</ddk-example>

<ddk-example>
  <h5>reachout: the outlet</h5>
</ddk-example>

<ddk-example>
  <h6>reachout: the outlet</h6>
</ddk-example>

<h3 class="component-header">Other Utilities</h3>

<p>The following utilities are available to set various font sizes.</p>

<ddk-example>
  <p class="font-size-large">reachout: the outlet</p>
</ddk-example>

<ddk-example>
  <p class="font-size-base">reachout: the outlet</p>
</ddk-example>

<ddk-example>
  <p class="font-size-small">reachout: the outlet</p>
</ddk-example>

<ddk-example>
  <p class="font-size-smaller">reachout: the outlet</p>
</ddk-example>