<h2 class="page-header flush-top">Styles</h2>

<section>
  <h3 class="component-header">Button tags</h3>
  <p>Use the button classes on an <code>&lt;a&gt;</code>, <code>&lt;button&gt;</code>, or <code>&lt;input&gt;</code> element.</p>

  <ddk-example>
<a class="btn btn-default" href="#" role="button">Link</a>
<button class="btn btn-default" type="button">Button</button>
<input class="btn btn-default" type="button" value="Input">
<input class="btn btn-default" type="submit" value="Submit">
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Solid Color Options</h3>
  <p>Use the <code>.btn-*</code> classes on any element with a <code>.btn</code> class to change that button element's color.</p>

  <ddk-example>
<button class="btn btn-blue" type="button">Blue Primary</button>
<button class="btn btn-cyan" type="button">Cyan Primary</button>
<button class="btn btn-gray" type="button">Gray Primary</button>
<button class="btn btn-gray-light" type="button">Gray Light Primary</button>
<button class="btn btn-white" type="button">White Primary</button>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Outline Color Options</h3>
  <p>Adding a class of <code>.btn-outline</code> to any <code>.btn</code> element will invert the text and background colors, creating an outline effect.</p>

  <ddk-example>
<button class="btn btn-blue btn-outline" type="button">Blue Secondary</button>
<button class="btn btn-cyan btn-outline" type="button">Cyan Secondary</button>
<button class="btn btn-gray btn-outline" type="button">Gray Secondary</button>
<button class="btn btn-gray-light btn-outline" type="button">Gray Light Secondary</button>
<button class="btn btn-white btn-outline" type="button">White Secondary</button>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Link Style Options</h3>
  <p>There are two flavors of link-style buttons, a primary style and a secondary style. To create a link-style button, add a class of <code>.btn-link</code> to your button element.</p>

  <ddk-example>
<button class="btn btn-link" type="button">Link Primary</button>
<button class="btn btn-link secondary" type="button">Link Secondary</button>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Disabled Solid Color Options</h3>

  <ddk-example>
<button class="btn btn-blue disabled" type="button">Blue Primary</button>
<button class="btn btn-cyan disabled" type="button">Cyan Primary</button>
<button class="btn btn-gray disabled" type="button">Gray Primary</button>
<button class="btn btn-gray-light disabled" type="button">Gray Light Primary</button>
<button class="btn btn-white disabled" type="button">White Primary</button>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Disabled Outline Color Options</h3>

  <ddk-example>
<button class="btn btn-blue btn-outline disabled" type="button">Blue Secondary</button>
<button class="btn btn-cyan btn-outline disabled" type="button">Cyan Secondary</button>
<button class="btn btn-gray btn-outline disabled" type="button">Gray Secondary</button>
<button class="btn btn-gray-light btn-outline disabled" type="button">Gray Light Secondary</button>
<button class="btn btn-white btn-outline disabled" type="button">White Secondary</button>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Disabled Link Style Options</h3>

  <ddk-example>
<button class="btn btn-link disabled" type="button">Link Primary</button>
<button class="btn btn-link secondary disabled" type="button">Link Secondary</button>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Sizes</h3>
  <p>Adding <code>.btn-lg</code> or <code>.btn-sm</code> will increase or decrease your button element.</p>

  <ddk-example>
<p>
  <button class="btn btn-blue btn-lg" type="button">Large Button</button>
  <button class="btn btn-blue btn-outline btn-lg" type="button">Large Button</button>
</p>
<p>
  <button class="btn btn-blue" type="button">Button</button>
  <button class="btn btn-blue btn-outline" type="button">Button</button>
</p>
<p>
  <button class="btn btn-blue btn-sm" type="button">Small Button</button>
  <button class="btn btn-blue btn-outline btn-sm" type="button">Small Button</button>
</p>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Block Display Buttons</h3>
  <p>To create a block level button, which spans the width of its parent, add a class of <code>.btn-block</code>.</p>

  <ddk-example>
<button class="btn btn-blue btn-block" type="button">Button</button>
<button class="btn btn-blue btn-outline btn-block" type="button">Button</button>
  </ddk-example>
</section>


<!-- <h3 class="component-header">Button Dropdown</h3>

<p>
  The example below shows an Angular implementation of a button dropdown using
  the NGX Bootstrap library.
</p>

<p>
  Note that the various button styles shown above are supported by the button
  dropdown.
</p>

<p class="callout callout-info" role="alert">The dropdown behavior requires the inclusion of
  <a href="http://valor-software.com/ngx-bootstrap/#/"
     target="_blank" class="callout-link">NGX Bootstrap</a> - an external
  resource used to create Bootstrap-like elements in Angular 2 applications.</p>

<ddk-example id="button-dropdown" height="200"></ddk-example> -->