<h2 class="page-header flush-top">Datepicker</h2>

<p class="callout callout-info" role="alert">The <code>&lt;datepicker&gt;</code> element requires the inclusion of <a href="https://github.com/valor-software/ngx-bootstrap" target="_blank" class="callout-link">NG-2 Bootstrap</a> - an external resource used to create Bootstrap-like elements in Angular 2 applications. Please refer to <a href="http://valor-software.com/ngx-bootstrap/#/datepicker" target="_blank" class="callout-link">this documentation</a> when customizing this component.</p>

<ddk-example id="datepicker" height="330"></ddk-example>