<ddk-jumbotron id="UIFormsSectionHeader"></ddk-jumbotron>

<div class="container">
  <div class="component">
    <aside class="mobile-push-bottom">
      <nav>
        <ul class="list-unstyled">
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/forms/inputs">Inputs</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/forms/radios">Radios</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/forms/checkboxes">Checkboxes</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/forms/datepicker">Datepicker</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/forms/timepicker">Timepicker</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/forms/search">Search Field</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/forms/states">States</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/forms/groups">Groups</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
