<ddk-jumbotron id="UIChartsHeader"></ddk-jumbotron>

<div class="container">
  <div class="col-sm-offset-0 col-md-offset-3">

  <h1 class="page-header">Charts</h1>

  <p>
    Simple charts can be rendered using an <code>&lt;svg&gt;</code> element.
    The following example shows a basic SVG chart within an Angular context.
  </p>

  <p>
    While the markup can be written and manipulated directly, this example makes
    use of a third-party library, <a href="http://svgjs.com/">SVG.js</a>,
    to demonstrate how the bars could be animated when the page loads.
  </p>

  <p>
    When you need a more complex interactivity with a chart, we recommend using
    the third-party charting tool called
    <a href="https://swimlane.github.io/ngx-charts">NGX-Charts</a>.
  </p>

  <ddk-example id="charts" height="375"></ddk-example>
</div>
