<footer class="footer">
  <div class="container">
    <div>
      <div class="footer-text">
        <p class="font-size-smaller flush-bottom">DDK is proudly created by <a href="https://www.crossroads.net/">Crossroads</a></p>

        <!-- 🚨 Version/last updated date should be dynamic -->
        <p class="font-size-smaller text-muted">Version 3.0.3 . Last updated on Friday, August 17, 2018</p>
      </div>

      <!-- 🚨 Need to find SVG path for social icons -->
      <div class="footer-icons">
        <ul class="list-inline">
          <li>
            <a class="secondary" href="https://twitter.com/crdschurch/" target="_blank">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xlink:href="/assets/svgs/icons.svg#twitter" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="secondary" href="https://www.facebook.com/crdschurch/" target="_blank">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xlink:href="/assets/svgs/icons.svg#facebook" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="secondary" href="https://www.youtube.com/user/crdschurch" target="_blank">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xlink:href="/assets/svgs/icons.svg#youtube" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="secondary" href="https://www.instagram.com/crdschurch/" target="_blank">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xlink:href="/assets/svgs/icons.svg#instagram" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="secondary" href="https://github.com/crdschurch" target="_blank">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xlink:href="/assets/svgs/icons.svg#github" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>