<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="mobile-nav-trigger collapsed visible-xs ddk-navbar" data-target=".navbar-collapse" data-toggle="collapse">
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xlink:href="/assets/svgs/icons.svg#menu"></use>
        </svg>
      </a>

      <!-- 🚨 Need to figure out the toggle switch -->
      <!-- <theme-toggle-switch class="visible-xs-block">
        <a class="theme-toggle-switch">
          <svg class="icon icon-1" viewBox="0 0 256 256"><use xlink:href="/assets/svgs/icons.svg#contrast" height="256" width="256"></use></svg>
        </a>
      </theme-toggle-switch> -->

      <a class="logo-ddk" href="/">
        <svg height="50px" viewBox="0 0 50 50" width="50px">
          <use xlink:href="/assets/svgs/logo-ddk.svg#logo-ddk"></use>
        </svg>
      </a>
      <a class="navbar-brand" href="/">
        <svg height="84" viewBox="0 0 578 84" width="578">
          <use xlink:href="assets/svgs/logo-crds.svg#logo-crds"></use>
        </svg>
      </a>
    </div>

    <div class="collapse navbar-collapse" style="display: none;" aria-expanded="false" aria-hidden="true">
      <ul class="nav navbar-nav navbar-right ddk-navbar">
        <li class="on">
          <a aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" role="button">
            For Designers
            <svg class="icon" viewBox="0 0 256 256">
              <use xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
            </svg>
          </a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <div class="mega-menu_list push-bottom">
                <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Guidelines</h4>
                <ul class="push-bottom hard-sides">
                  <li><a href="/designers/guidelines/intro">Intro</a></li>
                  <li><a href="/designers/guidelines/color-usage">Color Usage</a></li>
                  <li><a href="/designers/guidelines/copy-voice">Copy/Voice</a></li>
                  <li><a href="/designers/guidelines/logos">Logos</a></li>
                  <li><a href="/designers/guidelines/photography">Photography</a></li>
                  <li><a href="/designers/guidelines/typography">Typography</a></li>
                </ul>
              </div>

              <div class="mega-menu_list push-bottom">
                <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Getting Started</h4>
                <ul class="push-bottom hard-sides">
                  <li><a href="/designers/getting-started/mobile-first">Mobile First</a></li>
                  <li><a href="/designers/getting-started/prototyping">Prototyping</a></li>
                  <li><a href="/designers/getting-started/responsive-web-design">Responsive Web Design</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li>
          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" role="button">
            For Developers
            <svg class="icon" viewBox="0 0 256 256">
              <use xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
            </svg>
          </a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <div class="mega-menu_list push-bottom">
                <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Getting Started</h4>
                <ul class="push-bottom hard-sides">
                  <li><a href="/developers/getting-started/intro">What is the DDK?</a></li>
                  <li><a href="/developers/getting-started/installation">Installation</a></li>
                  <li><a href="/developers/getting-started/coding-style">Coding Style</a></li>
                  <li><a href="/developers/getting-started/file-structure">File Structure</a></li>
                  <li><a href="/developers/getting-started/naming-conventions">Naming Conventions</a></li>
                  <li><a href="/developers/getting-started/contributions">Contribute to DDK</a></li>
                </ul>
              </div>

              <div class="mega-menu_list push-bottom">
                <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Learn More</h4>
                <ul class="push-bottom hard-sides">
                  <li><a href="/developers/learn-more/browser-support">Browser Support</a></li>
                  <li><a href="/developers/learn-more/built-on-bootstrap">Built on Bootstrap</a></li>
                  <li><a href="/developers/learn-more/css-sass">CSS/SASS</a></li>
                  <li><a href="/developers/learn-more/grid">Grid</a></li>
                  <li><a href="/developers/learn-more/web-fonts">Web Fonts</a></li>
                  <li><a href="/developers/learn-more/custom-npm-packages">Custom NPM Packages</a></li>
                </ul>
              </div>

              <div class="mega-menu_list push-bottom">
                <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Third-Party Tools</h4>
                <ul class="push-bottom hard-sides">
                  <li><a href="/developers/third-party-tools/imgix">Imgix</a></li>
                  <li><a href="/developers/third-party-tools/maps">Maps</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li>
          <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" role="button">
            UI Components
            <svg class="icon" viewBox="0 0 256 256">
              <use xlink:href="/assets/svgs/icons.svg#chevron-down"></use>
            </svg>
          </a>
          <div class="dropdown-menu mega-menu_inner">
            <div class="container">
              <div class="mega-menu_list push-bottom">
                <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Core</h4>
                <ul class="push-bottom hard-sides">
                  <li><a href="/ui-components/core/colors">Colors</a></li>
                  <li><a href="/ui-components/core/typography">Typography</a></li>
                  <li><a href="/ui-components/core/utilities">Utility Classes</a></li>
                </ul>
              </div>

              <div class="mega-menu_list push-bottom">
                <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Atoms</h4>
                <ul class="push-bottom hard-sides">
                  <li><a href="/ui-components/atoms/buttons">Buttons</a></li>
                  <li><a href="/ui-components/atoms/feedback">Feedback</a></li>
                  <li><a href="/ui-components/atoms/forms">Forms</a></li>
                  <li><a href="/ui-components/atoms/icons">Icons</a></li>
                  <li><a href="/ui-components/atoms/labels">Labels</a></li>
                  <li><a href="/ui-components/atoms/loaders">Loaders</a></li>
                  <li><a href="/assets/logos">Logos</a></li>
                  <li><a href="/ui-components/atoms/media-images">Media Images</a></li>
                  <li><a href="/ui-components/atoms/progress-bar">Progress Bar</a></li>
                  <li><a href="/ui-components/atoms/tables">Tables</a></li>
                  <li><a href="/ui-components/atoms/tooltips">Tooltips</a></li>
                </ul>
              </div>

              <div class="mega-menu_list">
                <h4 class="mega-menu_subheader flush-bottom soft-quarter-bottom">Molecules</h4>
                <ul class="push-bottom hard-sides">
                  <li><a href="/ui-components/molecules/accordion">Accordion</a></li>
                  <li><a href="/ui-components/molecules/avatar-groups">Avatar Groups</a></li>
                  <li><a href="/ui-components/molecules/cards">Cards</a></li>
                  <li><a href="/ui-components/molecules/charts">Charts</a></li>
                  <li><a href="/ui-components/molecules/countdown">Countdown</a></li>
                  <li><a href="/ui-components/molecules/fauxdals">Fauxdals</a></li>
                  <li><a href="/ui-components/molecules/jumbotrons">Jumbotrons</a></li>
                  <li><a href="/ui-components/molecules/media-objects">Media Objects</a></li>
                  <li><a href="/ui-components/molecules/modals">Modals</a></li>
                  <li><a href="/ui-components/molecules/sign-in">Sign In</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li><a href="https://github.com/crdschurch/crds-styleguide" target="_blank">Github</a></li>

        <!-- 🚨 Figure out this toggle switch -->
        <!-- <li class="hidden-xs">
          <theme-toggle-switch>
            <a class="theme-toggle-switch">
              <svg class="icon icon-1" viewBox="0 0 256 256"><use xlink:href="/assets/svgs/icons.svg#contrast" height="256"
                  width="256"></use></svg>
            </a>
          </theme-toggle-switch>
        </li> -->
      </ul>
    </div>

    <!-- 🚨 Need to implement search. Search brings in a list of all the breadcrumbs within the site. -->
    <!-- <search-form>
      <div class="ddk-search-form">
        <input class="form-control" id="ddk-search" placeholder="Search" type="text">

        <ul class="list-unstyled">
          <li class="hide">
            <a href="/ui-components/core/colors/swatches">
              <span class="component-name">Colors - Swatches</span>
              <span class="breadcrumbs">
                <span>ui-components</span>
                <span>core</span>
                <span>colors</span>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </search-form> -->
  </div>
</nav>