<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="Crossroads Design" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />

  <link rel="icon" type="image/x-icon" href="/assets/favs/favicon.ico" />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/favicon-16x16.png"
    sizes="16x16"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/favicon-32x32.png"
    sizes="32x32"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/favicon-96x96.png"
    sizes="96x96"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/favicon-16x16.png"
    sizes="16x16"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/android-icon-36x36.png"
    sizes="36x36"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/android-icon-48x48.png"
    sizes="48x48"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/android-icon-72x72.png"
    sizes="72x72"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/android-icon-96x96.png"
    sizes="96x96"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/android-icon-144x144.png"
    sizes="144x144"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/android-icon-192x192.png"
    sizes="192x192"
  />
  <link
    rel="apple-touch-icon"
    type="image/png"
    href="/assets/favs/apple-icon-60x60.png"
    sizes="60x60"
  />
  <link
    rel="apple-touch-icon"
    type="image/png"
    href="/assets/favs/apple-icon-72x72.png"
    sizes="72x72"
  />
  <link
    rel="apple-touch-icon"
    type="image/png"
    href="/assets/favs/apple-icon-76x76.png"
    sizes="76x76"
  />
  <link
    rel="apple-touch-icon"
    type="image/png"
    href="/assets/favs/apple-icon-114x114.png"
    sizes="114x114"
  />
  <link
    rel="apple-touch-icon"
    type="image/png"
    href="/assets/favs/apple-icon-120x120.png"
    sizes="120x120"
  />
  <link
    rel="apple-touch-icon"
    type="image/png"
    href="/assets/favs/apple-icon-144x144.png"
    sizes="144x144"
  />
  <link
    rel="apple-touch-icon"
    type="image/png"
    href="/assets/favs/apple-icon-152x152.png"
    sizes="152x152"
  />
  <link
    rel="apple-touch-icon"
    type="image/png"
    href="/assets/favs/apple-icon-180x180.png"
    sizes="180x180"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/ms-icon-70x70.png"
    sizes="70x70"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/ms-icon-144x144.png"
    sizes="144x144"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/ms-icon-150x150.png"
    sizes="150x150"
  />
  <link
    rel="icon"
    type="image/png"
    href="/assets/favs/ms-icon-310x310.png"
    sizes="310x310"
  />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#a37304" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="theme-color" content="#ffffff" />

  {% stylesheet_link_tag application %}

  <title>
    {% if page.title and page.title != site.title %}{{ page.title | escape }} |
    {% endif %}{{ site.title | escape }}
  </title>
</head>
