<ddk-jumbotron id="UIAccordionHeader"></ddk-jumbotron>

<div class="container">
  <div class="col-md-offset-3">
    <p>Below you can see the layout for the standard sign-in form on crossroads.net and it's related properties. Implementation details for the form (submission and validation) are not included here; any related business logic should be handled by the application in which it is implemented.</p>
    <p>For a working example in NG2, look at <a href="https://github.com/crdschurch/crds-embed/blob/development/src/app/authentication/authentication.component.html#L14-L55">crds-embed's</a> authentication component. For an example in NG1.5 see <a href="https://github.com/crdschurch/crds-angular/blob/development/crossroads.net/core/login/login_form.html#L7-L38">crds-angular</a> login form template and controller.</p>

    <ddk-example id="accordion" height="450"></ddk-example>
  </div>
</div>