<ddk-jumbotron id="UIAccordionHeader"></ddk-jumbotron>

<div class="container">
  <div class="col-md-offset-3">
    <p class="callout callout-info" role="alert">The <code>&lt;accordion&gt;</code> element requires the inclusion of <a href="https://github.com/valor-software/ngx-bootstrap" target="_blank" class="callout-link">NG-2 Bootstrap</a> - an external resource used to create Bootstrap-like elements in Angular 2 applications. NG-2 Bootstrap was renamed to NGX-Bootstrap. Please refer to <a href="http://valor-software.com/ngx-bootstrap/#/accordion" target="_blank" class="callout-link">this documentation</a> when customizing this component.</p>

    <ddk-example id="accordion" height="450"></ddk-example>
  </div>
</div>