<h1 class="page-header">Introduction</h1>

<p>If you’ve made it here, you are no doubt a designer. And you’re probably looking to create something for Crossroads. To help you get started, we’ve compiled everything you need to create designs that are consistent with the Crossroads look and feel.</p>

<p>Things to keep in mind before/while you create:</p>
<ul>
	<li>Have you considered your audience?</li>
	<li>What is the goal of the web page/app?</li>
	<li>Can you simplify the messaging or the design in an effort to communicate more clearly?</li>
</ul>

<p>When starting new projects, products, etc., it’s a good idea to come back and check for updates to the style guide. This is a living guide that will change, evolve, and grow.</p>