<p class="callout callout-danger">A class of <code>.modal-example</code> has been added to the following code examples to demonstrate the different styles associated with each modal. Trust me when I say you'll want to <strong>remove this class</strong> before adding it to your project.</p>

<h2 class="page-header">Default Modal</h2>


<ddk-example>
<div class="modal-example modal-backdrop">
  <div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xlink:href="/assets/svgs/icons.svg#close-thin"></use>
              </svg></span>
          </button>
          <h4 class="modal-title">Need a reminder?</h4>
        </div>
        <div class="modal-body">
          <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras mattis consectetur purus sit amet fermentum.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cyan">Save changes</button>
          <button type="button" class="btn btn-cyan btn-outline" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</ddk-example>

<ddk-example>
<div class="modal-example modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</ddk-example>