<h2 class="page-header">Toast Notifications</h2>

<p>
  Toast Notifications requires the inclusion of <a class="alert-link" href="https://github.com/PointInside/ng2-toastr" target="_blank">ng2-toastr</a>, an external resource used to create Toast Notifications in Angular 2 applications.
</p>

<p>
  Below is a simple Angular 4.1.2 app providing buttons to trigger each of the five toast notification options.
</p>

<p>
  The most important piece to remember is that ng2-toastr requires importing <code>BrowserAnimationsModule</code> into the module making using of the library (for Angular 4 apps).
</p>

<ddk-example id="toastr" height="225"></ddk-example>
