<ddk-jumbotron id="UICards"></ddk-jumbotron>

<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/cards/types">Types</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/cards/grid-layout">Grid Layout</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/cards/card-decks">Card Decks</a>
          </li>
        </ul>
      </nav>
    </aside>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>