<div class="page-header">
  <h3>Photography</h3>
</div>

<div class="page-subheader">
  <h3>Style:</h3>
</div>
<p>Simple, beautiful, and authentic. How do you like that? </p>

<p>In a perfect world, our photography focuses on a subject (person or object) and has a shallow depth of field. This basically means that anything that isn't the subject of the photo will be a little out of focus.</p>

<div class="page-subheader">
  <h3>Effects &amp; Photo Treatments:</h3>
</div>
<p>Sometimes photography is perfect and there is nothing to adjust. And in that case, just leave it be.</p> 

<p>Some photos however, need help. We use effects and photo treatments to enhance an image, communicate the Crossroads brand (or the Ministry), and to better connect with content. As with all things, please use responsibly. (need to get examples)</p>
<ul>
	<li>Duotones (usually with Crossroads blue or gray)</li>
	<li>Blown out the contrast</li>
	<li>Industrial textures from our buildings</li>
	<li>Desaturation</li>
</ul>

<div class="page-subheader">
  <h3>Do / Do Not:</h3>
</div>
<p>Coming…</p>

<div class="page-subheader">
  <h3>How do you get photography?</h3>
</div>
<p>Almost all of our photography is shot by talented, professional volunteers. We have an extensive library of images that will more than likely meet your needs. The unfortunate thing is we have over 100,000. And we wouldn’t be serving you by making you go through all of them to find 1 particular image—especially if we know how to find it.<p>

<p>If you have particular photography needs, please contact _______</p>

<div class="page-subheader">
  <h3>Examples</h3>
</div>
<p>Here are some of our best:
(link to them or list them)</p>