<ddk-jumbotron id="UIStickyHeader"></ddk-jumbotron>

<div class="container">
  <div class="col-md-offset-3">
    <h2 class="page-header">Sticky Headers</h2>

    <p>A header with a <code>sticky-top</code> class will move along the page until it reaches the top.</p>
    <p>At the top of the page, the header will act like a fixed element and will stay in place until replaced by another element with a <code>sticky-top</code> class or scrolled back up above the element.</p>

    <ddk-example>
      <div class="sticky-example-wrapper">
        <div>
          <section class="push">
            <p>I am text above whatever it is you want to be sticky.</p>
            <p>Start scrolling to see how the sticky element will become a header.</p>
            <p>Scroll back up here if you want to see the sticky header move from the top.</p>
          </section>

          <section class="page-header bg-cyan sticky-top">
              <div class="container">
                <h1 class="title text-cyan-light soft-left">I'm Sticky!</h1>
              </div>
          </section>
          <section class="push">
            <p>This text will scroll behind the sticky-header above.</p>
            <p>
              Etiam porta sem malesuada magna mollis euismod. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Aenean lacinia bibendum nulla sed consectetur.
            </p>
            <p>
              Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Donec sed odio dui.
            </p>
            <p>
              Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Sed posuere consectetur est at lobortis. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas faucibus mollis interdum.
            </p>
            <p>
              Vestibulum id ligula porta felis euismod semper. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum.
            </p>
            <p>
              Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Maecenas sed diam eget risus varius blandit sit amet non magna. Etiam porta sem malesuada magna mollis euismod.
            </p>
          </section>
        </div>
      </div>
    </ddk-example>
  </div>
</div>