code {
  .dark-theme & {
    background: $cr-gray;
    color: $cr-gray-darker;
  }
}

.crds-example {
  position: relative;
  border: 1px solid;
  margin-top: 1em;
  margin-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  &, & + figure.highlight > pre {
    border-color: $cr-gray-lighter;
    padding: 1.25em;
  }


  .dark-theme & {
    &, & + figure.highlight > pre {
      border-color: darken($cr-gray-dark, 10);
    }
  }

  &:not(.crds-text-example) {
    padding-top: 3.25em;
    &:after {
      content: 'Example';
      text-transform: uppercase;
      font-weight: 600;
      font-size: 90%;
      position: absolute;
      top: 1.25em;
      left: 1.5em;
      color: $gray-light;
    }
  }

  &[data-label]:after {
    content: attr(data-label);
  }

  & + figure.highlight > pre {
    margin-top: 0;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-left: 2em;
  }

  .typeface-example & {
    border-radius: 5px;
    font-size: 160%;
    word-wrap: break-word;
    &::after {
      @extend .font-family-base-bold;
      font-style: normal;
      font-size: 56%;
      position: absolute;
      top: 2.25em;
      left: 2.5em;
    }
  }
}

crds-example {
  position: relative;

  .panel-body {
    padding-top: 3.25em;
    &:after {
      content: 'Example';
      text-transform: uppercase;
      font-weight: 600;
      font-size: 90%;
      position: absolute;
      top: 1.25em;
      left: 1.5em;
      color: $gray-light;
    }
  }
}

.crds-embedded-markup {
  .example-row {
    @include clearfix;
    background: $gray;
    border: 1px solid darken($gray, 10);
  }
  .tree {
    @include make-sm-column(3);
    padding: 0;
    font-size: 80%;
  }
  .markup {
    @include make-sm-column(9);
    padding: 0;
    border-left: 1px solid darken($gray, 10);
  }
  pre {
    font-size: 80%;
  }
  .list-group-item:first-child,
  .list-group-item:last-child,
  .list-group,
  pre {
    border-radius: 0;
    border: none;
  }
}