h1 {
  .page-header &,
  .jumbotron.ddk & {
    font-family: $base-font-face;
    font-weight: 100;
  }
}

aside > nav {
  .list-group-item {
    &.active,
    &.active:hover,
    &.active:focus {
      background: $gray;
      border-color: darken($gray, 10);
    }
    > a:focus {
      text-decoration: none;
      color: $brand-primary;
    }
  }
  .dark-theme & {
    .list-group-item {
      background: darken($cr-gray-dark, 15);
      border-color: darken($cr-gray-dark, 20);

      &.active,
      &.active:hover,
      &.active:focus {
        background: $cr-gray-darker;
        border-color: $cr-gray-darker;
      }
    }
  }

  .inverted & {
    .list-group-item {
      background: rgba($cr-gray-dark, .4);
      border-color: rgba($cr-gray-dark, .4);

      &.active,
      &.active:hover,
      &.active:focus {
        background: $cr-gray-darker;
        border-color: $cr-gray-darker;
      }
    }
  }
}

body.dark-theme {
  transition: all 0.3s;
}

.component {
  @include make-row;

  aside {
    @include make-sm-column(12);

    @media (min-width: $screen-sm) {
      @include make-sm-column(3);
    }
  }
  > div {
    @include make-sm-column(12);

    @media (min-width: $screen-sm) {
      @include make-sm-column(9);
    }
  }
}

.tbd {
  a {
    color: $gray;
  }
}

.breadcrumb {
  .inverted & {
    background: rgba($cr-white, .6);

    a {
      color: $cr-gray-light;

      &:hover {
        color: darken($cr-gray-light, 30);
      }
    }

    > li + li:before {
      color: darken($cr-gray-dark, 30);
    }

    > .active {
      color: darken($cr-gray-dark, 30);
    }
  }
}

.page-header {
  &:first-child {
    &, h2 {
      margin-top: 0;
    }
  }
}

.page-subheader {
  margin: 3em 0 1em;

  h3 {
    @extend .font-family-condensed;
    font-size: 180%;
  }
}

.selector {
  margin-bottom: 3em;
  > code {
    margin-bottom: 0.5em;
  }
  > .annotation {
    margin-top: 0.5em;
  }
  p > code {
    margin-bottom: 0;
  }
}

.annotation {
  font-weight: 600;
}

.jumbotron.ddk {
  margin-bottom: 3em;

  h1 {
    font-family: $condensed-extra-font-face;
    font-size: 4rem;
    margin-top: 0;
    text-transform: uppercase;
  }

  p {
    font-size: 19px;
  }
}

.link-download {
  text-decoration: none;

  & span:last-child {
    vertical-align: middle;
  }

  &:hover {
    text-decoration: none;
  }
}





.breadcrumb.ddk {
  background: transparent;
  margin: 0;

  a {
    color: $cr-white;
    text-transform: uppercase;

    &:focus,
    &:hover {
      color: $cr-white;
    }
  }

  > li:before {
    content: none;
  }

  > li:after {
    content: '/';
    padding: 0 6px 0 4px;
  }

  > li:last-child:after {
    padding-right: 0;
  }
}