.nav {
  &.navbar-nav.pull-right {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
  > li {
    position: static;
  }

  a.active {
    color: $cr-black;
  }
}

.navbar {
  margin-bottom: 0;
  h3 {
    font-size: 2rem;
  }

  &.navbar-default {
    border-width: 0 0 1px 0;
    border-radius: 0;
    background-color: $cr-white;

    .logo-ddk {
      float: left;
      display: block;
      height: 50px;
    }

    .navbar-brand {
      fill: $cr-gray;
    }

    .navbar-nav li.on > a {
      color: $cr-cyan;
    }

    .dark-theme & {
      @extend .navbar-inverse;

      .navbar-brand {
        fill: $cr-white;
      }

      .navbar-nav li.on > a {
        color: $cr-cyan;
      }
    }

    .inverted & {
      background-color: rgba($cr-white, .6);
      border-bottom: none;
    }
  }

  @media (min-width: $screen-sm) {
    .container-fluid {
      padding: 0;
      a.navbar-brand {
        margin-left: 0;
      }
    }
  }

  .dropdown-toggle {
    .icon {
      margin-left: 3px;
      width: 10px;
      height: 10px;
      transition: 250ms;
    }
  }

  .navbar-nav > li {
    > .dropdown-menu {
      margin-top: 1px;
      .dark-theme & {
        background: $cr-gray-darker;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.75);
      }

      .inverted & {
        background: #333333;
        margin-top: 0;
      }
    }
  }

  .open > .dropdown-toggle > .icon {
    transform: rotate(-180deg);
  }
}


.mega-menu {

  &_title {
    padding-left: 15px;
    padding-right: 15px;
  }

  &_inner {
    border: none;
    border-radius: 0;
    padding: 1rem 0 2rem;
    width: 100%;

    @media (min-width: $screen-sm) {
      padding-bottom: 4rem;
    }

    .col-md-12 > a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &_list {
    @media (min-width: $screen-sm) {
      @include make-sm-column(4);
    }

    > p {
      cursor: default;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      line-height: 1.75;
    }
  }
}

.mega-menu_subheader {
  color: $cr-gray-light;
  font-size: $base-font-size;
  font-weight: 400;
}

.navbar-brand svg {
  @include size(8.125rem, 1.1875rem);
}
