$gray: #f5f5f5;
$footer-background: $gray;
$code-color: #d9004b;
$code-bg: #faf2f4;

$example-bg: #f5f2f0;

// Bootstrap overrides for DDK dark-theme
$navbar-inverse-bg: $cr-black;
$navbar-inverse-border: darken($cr-gray-dark, 10);
