<div class="jumbotron">
  <div class="container">
    <crds-content-block id="DesignersGuidelinesSectionHeader"></crds-content-block>
  </div>
</div>

<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/guidelines/color-usage">Color Usage</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/guidelines/copy-voice">Copy/Voice</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/guidelines/logos">Logos</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/guidelines/photography">Photography</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/guidelines/typography">Typography</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
