<ddk-jumbotron id="UIUtilitiesSectionHeader"></ddk-jumbotron>

<div class="container">
  <div class="component">
    <aside class="mobile-push-bottom">
      <nav>
        <ul class="list-unstyled">
          <li routerLinkActive="active">
            <a routerLink="/ui-components/core/utilities/borders">Borders</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/core/utilities/corners">Corners</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/core/utilities/display">Display</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/core/utilities/images">Images</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/core/utilities/margin">Margin</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/core/utilities/padding">Padding</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/core/utilities/text">Text</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/core/utilities/buttons">Buttons</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/core/utilities/vertical-positioning">Vertical Positioning</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
