<h2 class="page-header">States</h2>

<p>Validation states are a great way to provide visual feedback when filling out a form. Angular can use the <code>ngModel</code> directive to track the state and validity of the form.</p>

<p class="callout callout-info" role="alert">Documentation for Angular 2 form validation can be found <a href="https://angular.io/docs/ts/latest/guide/forms.html" target="_blank" class="callout-link">here</a>.</p>

<h3 class="component-header">Input Field &mdash; Focus</h3>

<p>The following code example uses custom styles to demonstrate the <code>:focus</code> state on a <code>.form-control</code> element.</p>

<ddk-example>
<div class="form-group">
  <label for="email" class="sr-only">Email</label>
  <input type="email" name="email" value="" placeholder="Email" class="form-control focus-example">
</div>
</ddk-example>

<h3 class="component-header">Input Field &mdash; Valid</h3>

<p>A valid input field is determined by the class <code>.ng-valid</code>. Validation is checked after a user has touched that field (indicated by the class <code>.ng-touched</code>).</p>

<ddk-example>
<div class="form-group">
  <label for="email" class="sr-only">Email</label>
  <input type="email" name="email" value="" placeholder="Email" class="form-control ng-touched ng-valid" value="joe@dirt.com">
</div>
</ddk-example>

<h3 class="component-header">Input Field &mdash; Invalid</h3>

<p>An invalid state on an input field is determined by the <code>.ng-invalid</code> class. Validation is checked after a user has touched that field (indicated by the class <code>.ng-touched</code>).</p>

<ddk-example>
<div class="form-group">
  <label for="email" class="sr-only">Email</label>
  <input type="email" name="email" value="" placeholder="Email" class="form-control ng-touched ng-invalid" value="larry@">
</div>
</ddk-example>

<h3 class="component-header">Input Field &mdash; Invalid with Error Message</h3>

<ddk-example>
<div class="form-group">
  <label for="email" class="sr-only">Email</label>
  <input type="email" name="email" value="" placeholder="Email" class="form-control ng-touched ng-invalid" value="larry@">
  <p class="error help-block">Email address required</p>
</div>
</ddk-example>

<h3 class="component-header">Input Field &mdash; Search</h3>
<p>Adding a <code>.searchbar</code> class to an input's parent container will disable validation states on that input. In this example, we've included the class <code>.ng-invalid</code> to show how <code>.searchbar</code> will override the invalidation styles.</p>
<ddk-example>
<form class="searchbar" action=".">
  <div class="form-group">
    <label for="search" class="sr-only">Email</label>
    <input type="text" name="search" value="" placeholder="Search" class="form-control ng-touched ng-invalid">
  </div>
</form>
</ddk-example>

<h3 class="component-header">Input Field &mdash; Default with Helper Text</h3>

<ddk-example>
<div class="form-group">
  <label for="email" class="sr-only">Email</label>
  <input type="email" name="email" value="" placeholder="Email" class="form-control">
  <p class="help-block">Separate additional addresses with a comma</p>
</div>
</ddk-example>

<h3 class="component-header">Input Field &mdash; Disabled</h3>
<p>Disabled inputs prevent user interactions and appear lighter in color and add a <code>not-allowed</code> cursor.</p>
<ddk-example>
<div class="form-group">
  <label for="email" class="sr-only">Email</label>
  <input type="email" name="email" value="" placeholder="Email" class="form-control" disabled>
</div>
</ddk-example>

<h3 class="component-header">Input Field &mdash; Read-only</h3>
<p>Read-only inputs prevent modification of the input's value. Read-only inputs appear lighter, but keep the standard cursor.</p>
<ddk-example>
<div class="form-group">
  <label for="email" class="sr-only">Email</label>
  <input type="email" name="email" value="" placeholder="Email" class="form-control" readonly>
</div>
</ddk-example>
