<div class="container">
	<div class="page-header">
	  <h3>Installation</h3>
	</div>

	NOTE: The following guidelines assume you have a functioning application with support for consuming NPM dependencies and compiling SCSS files at runtime. 

	<p>Installing <code>crds-styles</code> is a two step process.</p> 

	<p>The first step involves installing crds-styles and updating your application to consume the styles provided by it. The second step requires an update to your build process so that the physical assets (SVGs) included in crds-styles get copied into your dist/ directory during a build.</p>

	<div class="page-subheader">
	  <h3>Install the Styles</h3>
	</div>

	<p>Execute the following command to update your application dependencies…</p>

	<p><code>$ npm install crds-styles --save-dev</code></p>

	<p>This will update the devDependencies section of your package.json file with an entry for the crds-styles package and install the new require in your local node_modules directory.</p> 
	<p>NOTE: crds-styles already includes the entire Bootstrap CSS library in it’s manifest, so there’s no need to add that package as a separate dependency.</p> 

	<p>Next, import crds-styles by adding the following line within your application’s SCSS manifest file…</p>

<figure class="highlight">
  <pre class="language-css">
@import ‘crds-styles/assets/stylesheets/bootstrap’;
</pre>
</figure>

	<div class="page-subheader">
	  <h3>Update Your Build Process</h3>
	</div>

	<p>To render the icons provided by crds-styles, the precompiled SVGs must be publicly accessible to your users.</p>

	<p>In order to make them available across environments, we recommend copying those assets from the node_modules/crds-styles/assets directory during the build process so they can be served right alongside your application’s other bundled assets.</p>

	<p>An example configuration for Webpack builds might look like this…</p>

<figure class="highlight">
  <pre class="language-javascript">
var CopyWebpackPlugin = require('copy-webpack-plugin');

module.exports = {{ '{' }}
  plugins: [
    new CopyWebpackPlugin([
      {{ '{' }}
        context: './node_modules/crds-styles/assets/svgs/',
        from: '*.svg',
        to: 'assets/svgs'
      {{ '}' }}
    ])
  ]
{{ '}' }}
</pre>
</figure>

	<p>NOTE: Crossroads has standardized on Webpack v1 at the time of this writing. If you’re using another task-runner (Angular-CLI, Gulp, etc.) to compile your application, the process may look a little different.</p>

	<p>Restart your application and you’re done. You can now take advantage of all the styles, selectors and various patterns illustrated throughout the DDK and/or official Bootstrap documentation.</p>

</div>
