<ddk-jumbotron id="UILabelsHeader"></ddk-jumbotron>

<div class="container">
  <div class="col-sm-offset-0 col-md-offset-3">
    <h2 class="page-header">Labels</h2>
    <p>
      Labels styles are supported in
      <a href="http://getbootstrap.com/docs/3.3/components/#labels">the Bootstrap way</a>,
      using the <code>label</code> and <code>label-[color]</code> classes.
    </p>

    <ddk-example>
<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
    </ddk-example>
  </div>
</div>