<h2 class="page-header flush-top">Checkboxes</h2>

<section>
  <h3 class="component-header">Checkboxes</h3>

  <ddk-example>
<div class="controls-stacked">
  <label class="control checkbox">
    <input type="checkbox" checked="checked">
    <span class="control-indicator" tabindex="0"></span>
    Option one is selected
  </label>
  <label class="control checkbox">
    <input type="checkbox">
    <span class="control-indicator" tabindex="0"></span>
    Option two can also be selected
  </label>
  <label class="control checkbox disabled">
    <input type="checkbox" disabled="disabled">
    <span class="control-indicator" tabindex="0"></span>
    Option three is disabled
  </label>
</div>
  </ddk-example>
</section>
