<div class="container">
  <ol *ngIf="displaySidebar()" class="breadcrumb push-top">
    <li><a routerLink="/designers">Designers</a></li>
    <li class="active" *ngIf="displaySidebarNav('guidelines')">Guidelines</li>
    <li class="active" *ngIf="displaySidebarNav('getting-started')">Getting Started</li>
  </ol><br>

  <div class="component">
    <aside *ngIf="displaySidebar()">
      <nav>
        <ul class="list-group" *ngIf="displaySidebarNav('guidelines')">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/intro">Intro</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/color-usage">Color Usage</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/copy-voice">Copy/Voice</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/logos">Logos</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/photography">Photography</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/typography">Typography</a>
          </li>
        </ul>

        <ul class="list-group" *ngIf="displaySidebarNav('getting-started')">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/mobile-first">Mobile First</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/prototyping">Prototyping</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/designers/responsive-web-design">Responsive Web Design</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>