<div class="page-header">
  <h2>Resizing Icons</h2>
</div>

<p>
  Add one of the following classes to resize an icon.
</p>
<ul class="list-inline">
  <li>
    <code>.icon-1</code>
  </li>
  <li>
    <code>.icon-2</code>
  </li>
  <li>
    <code>.icon-3</code>
  </li>
  <li>
    <code>.icon-4</code>
  </li>
  <li>
    <code>.icon-5</code>
  </li>
  <li>
    <code>.icon-6</code>
  </li>
</ul>

<div class="crds-example" data-processed="true">
  <svg class="icon icon-1" viewBox="0 0 256 256">
    <use href="/assets/svgs/icons.svg#github"></use>
  </svg>

  <svg class="icon icon-2" viewBox="0 0 256 256">
    <use href="/assets/svgs/icons.svg#github"></use>
  </svg>

  <svg class="icon icon-3" viewBox="0 0 256 256">
    <use href="/assets/svgs/icons.svg#github"></use>
  </svg>

  <svg class="icon icon-4" viewBox="0 0 256 256">
    <use href="/assets/svgs/icons.svg#github"></use>
  </svg>

  <svg class="icon icon-5" viewBox="0 0 256 256">
    <use href="/assets/svgs/icons.svg#github"></use>
  </svg>

  <svg class="icon icon-6" viewBox="0 0 256 256">
    <use href="/assets/svgs/icons.svg#github"></use>
  </svg>
</div>
<figure class="highlight">
  <pre class="language-markup">
&lt;svg class=&quot;icon icon-1&quot; viewBox=&quot;0 0 256 256&quot;&gt;
  &lt;use href=&quot;&#x2F;assets&#x2F;svgs&#x2F;icons.svg#github&quot;&gt;&lt;&#x2F;use&gt;
&lt;&#x2F;svg&gt;

&lt;svg class=&quot;icon icon-2&quot; viewBox=&quot;0 0 256 256&quot;&gt;
  &lt;use href=&quot;&#x2F;assets&#x2F;svgs&#x2F;icons.svg#github&quot;&gt;&lt;&#x2F;use&gt;
&lt;&#x2F;svg&gt;

&lt;svg class=&quot;icon icon-3&quot; viewBox=&quot;0 0 256 256&quot;&gt;
  &lt;use href=&quot;&#x2F;assets&#x2F;svgs&#x2F;icons.svg#github&quot;&gt;&lt;&#x2F;use&gt;
&lt;&#x2F;svg&gt;

&lt;svg class=&quot;icon icon-4&quot; viewBox=&quot;0 0 256 256&quot;&gt;
  &lt;use href=&quot;&#x2F;assets&#x2F;svgs&#x2F;icons.svg#github&quot;&gt;&lt;&#x2F;use&gt;
&lt;&#x2F;svg&gt;

&lt;svg class=&quot;icon icon-5&quot; viewBox=&quot;0 0 256 256&quot;&gt;
  &lt;use href=&quot;&#x2F;assets&#x2F;svgs&#x2F;icons.svg#github&quot;&gt;&lt;&#x2F;use&gt;
&lt;&#x2F;svg&gt;

&lt;svg class=&quot;icon icon-6&quot; viewBox=&quot;0 0 256 256&quot;&gt;
  &lt;use href=&quot;&#x2F;assets&#x2F;svgs&#x2F;icons.svg#github&quot;&gt;&lt;&#x2F;use&gt;
&lt;&#x2F;svg&gt;
  </pre>
</figure>
