<h2 class="page-header">Resizing Icons</h2>

<p>
  Add one of the following classes to resize an icon.
</p>
<ul class="list-inline">
  <li>
    <code>.icon-1</code>
  </li>
  <li>
    <code>.icon-2</code>
  </li>
  <li>
    <code>.icon-3</code>
  </li>
  <li>
    <code>.icon-4</code>
  </li>
  <li>
    <code>.icon-5</code>
  </li>
  <li>
    <code>.icon-6</code>
  </li>
</ul>

<ddk-example>
<svg class="icon icon-1" viewBox="0 0 256 256">
  <use xlink:href="/assets/svgs/icons.svg#github"></use>
</svg>

<svg class="icon icon-2" viewBox="0 0 256 256">
  <use xlink:href="/assets/svgs/icons.svg#github"></use>
</svg>

<svg class="icon icon-3" viewBox="0 0 256 256">
  <use xlink:href="/assets/svgs/icons.svg#github"></use>
</svg>

<svg class="icon icon-4" viewBox="0 0 256 256">
  <use xlink:href="/assets/svgs/icons.svg#github"></use>
</svg>

<svg class="icon icon-5" viewBox="0 0 256 256">
  <use xlink:href="/assets/svgs/icons.svg#github"></use>
</svg>

<svg class="icon icon-6" viewBox="0 0 256 256">
  <use xlink:href="/assets/svgs/icons.svg#github"></use>
</svg>
</ddk-example>
