<div class="container push-top">
	<h1 class="page-header">Developers, Start Your IDEs</h1>
	<p class="lead">Proper implementation of brand-standards is hard enough — even in traditional media. In a digital context, adhering to well-intentioned guidelines is not only tricky but can be difficult to maintain over the lifetime of any project. DDK to the rescue!</p>
	<p>This website was specifically developed to empower developers with all the implementation details they need to be successful while working on digital properties for Crossroads. This approach allows the brand to maintain cohesion &amp; consistency through the use of well-established patterns by helping deliver quality user-experience with minimal effort.</p>
	<p>
		<a routerLink="/developers/getting-started" class="btn btn-primary">Getting Started</a>
		<a routerLink="/developers/built-on-bootstrap" class="btn btn-secondary">Learn More</a>
	</p>
	<br>
	<div class="row push-top">
		<div class="col-sm-4 push-bottom">
			<h4 class="component-header">One Package to Rule Them All</h4><hr>
			<p>By building your work on-top of the patterns described within the DDK, you’ll be leaning on approved, established styles.</p>
			<p>No more guess-work around implementation; no more wondering if your CSS will get rejected during acceptance review; simply copy the provided example code, override where needed and move on with your day.</p>
			<p><a href="https://www.npmjs.com/package/crds-styles" class="btn btn-danger">See the NPM Package</a></p>
		</div>

		<div class="col-sm-4 push-bottom">
			<h4 class="component-header">Built On Bootstrap</h4><hr>
			<p>We’ve taken the Bootstrap CSS Framework you know and love and extended it to support approved patterns that are in use all across Crossroads’ digital properties. Through the use of NPM and other related technologies, simply include one package and you’re off to the races.</p>
			<p><a href="http://getbootstrap.com" class="btn btn-success">Learn Bootstrap</a></p>
		</div>

		<div class="col-sm-4 push-bottom">
			<h4 class="component-header">Open Source</h4><hr>
			<p>Like all digital projects for Crossroads, the full-source of both the DDK and it supporting libraries are open-source and ready for your contributions. From PRs to individual release-notes, keep track of what exists today, where we've been and where we're heading.</p>
			<p>Got something you need, something we missed or discovered a regression? Let us know!</p>
			<p><a href="https://github.com/crdschurch/crds-styles" class="btn btn-warning">Fork Us on Github</a></p>
		</div>
	</div>
</div>
