<div class="container push-top">
	<h1 class="page-header">Developers, Start Your IDEs</h1>
	<p class="lead">Proper implementation of brand-standards is hard enough — even in traditional media. In a digital context, adhering to well-intentioned guidelines is not only tricky but can be difficult to maintain over the lifetime of any project. DDK to the rescue!</p>
	<p>This website was specifically developed to empower developers with all the implementation details they need to be successful while working on digital properties for Crossroads. This approach allows the brand to maintain cohesion &amp; consistency through the use of well-established patterns by helping deliver quality user-experience with minimal effort.</p>
	<br>
	<div class="row push-top">
		<div class="col-sm-4 push-bottom">
			<h4 class="component-header">One Package to Rule Them All</h4><hr>
			<p>By building your work on-top of the patterns described within the DDK, you’ll be leaning on approved, established styles.</p>
			<p>No more guess-work around implementation; no more wondering if your CSS will get rejected during acceptance review; simply copy the provided example code, override where needed and move on with your day.</p>
			<p><a href="https://www.npmjs.com/package/crds-styles" class="btn btn-secondary">See the NPM Package</a></p>
		</div>

		<div class="col-sm-4 push-bottom">
			<h4 class="component-header">Built On Bootstrap</h4><hr>
			<p>We’ve taken the Bootstrap CSS Framework you know and love and extended it to support approved patterns that are in use all across Crossroads’ digital properties. Through the use of NPM and other related technologies, simply include one package and you’re off to the races.</p>
			<p><a href="http://getbootstrap.com" class="btn btn-secondary">Learn More</a></p>
		</div>

		<div class="col-sm-4 push-bottom">
			<h4 class="component-header">Getting Started</h4><hr>
			<p>To implement these patterns, you’ll need to add the <code>crds-styles</code> NPM package as a dependency of your project. Run the following command to update your application’s package.json file...</p>
			<p><code>$ npm install crds-styles --save-dev</code></p>
			<p>And because we're using npmjs for the delivery mechanism, the entire pattern library is just one command away and will work with all your existing build and deployment processes.</p>
			<p>
				<a routerLink="/developers/getting-started" class="btn btn-secondary">See How It Works</a>
				<a href="https://github.com/crdschurch/crds-styles" class="btn btn-link">View Source</a>
			</p>
		</div>
	</div>
</div>
