<div class="row mb-3">
  <div class="col-xs-12 text-center">
    <a href="javascript:void(0)" class="btn btn-primary" (click)="changeColor()">Change Color</a>
  </div>
</div>

<svg id="my-chart" viewBox="0 0 750 313" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <!-- Grid Lines -->
    <g transform="translate(81.5, 0.5)" stroke="#E7E7E7" stroke-linecap="square">
      <path d="M0,0 L0,276.6"></path>
      <path d="M206,0 L206,276.6"></path>
      <path d="M412,0 L412,276.6"></path>
      <path d="M618,0 L618,276.6"></path>
    </g>
    <!-- Y-Axis Labels -->
    <g transform="translate(64, 0)" font-size="14" fill="#737373" font-weight="300" text-anchor="end">
      <text y="257">Thing #1</text>
      <text y="200">Thing #2</text>
      <text y="143">Thing #3</text>
      <text y="86">Thing #4</text>
      <text y="29">Thing #5</text>
    </g>
    <!-- Bars -->
    <g id="bar-group" fill="#57AFA9" transform="translate(82, 0)">
      <path id="thing1-path"></path>
      <path id="thing2-path"></path>
      <path id="thing3-path"></path>
      <path id="thing4-path"></path>
      <path id="thing5-path"></path>
    </g>
    <!-- X-Axis Labels -->
    <g transform="translate(81.5, 310)" fill="#737373" font-size="14" font-weight="300" text-anchor="middle">
      <text x="0">0</text>
      <text x="206">1</text>
      <text x="412">2</text>
      <text x="618">3</text>
    </g>
  </g>
</svg>
