<h2 class="page-header">Margin</h2>

<h3 class="component-header">Add Margins</h3>

<p>Adding a class of <code>.push-*</code> to an element will increase its desired margin.</p>

<p class="callout callout-info" role="alert">These classes also have mobile-friendly versions to allow for class stacking. To use, prepend <code>.mobile-</code> to any of the classes below. For example, if you wanted to increase the right margin on small devices only, you'd use the class <code>.mobile-push-right</code> instead of <code>.push-right</code>.</p>

<p><strong>Please Note:</strong> <code>.push-*</code> classes rely on the Bootstrap-defined variable, <code>$line-height-computed</code>. See documentation for that variable <a href="http://getbootstrap.com/docs/3.3/customize/#typography" target="_blank">here</a>.</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-sm-3">Group of Classes</th>
      <th class="col-sm-9">CSS <code>margin-*</code></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="col-sm-3"><code>.push</code></td>
      <td class="col-sm-9"><code>margin: $line-height-computed;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-top</code></td>
      <td class="col-sm-9"><code>margin-top: $line-height-computed;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-right</code></td>
      <td class="col-sm-9"><code>margin-right: $line-height-computed;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-bottom</code></td>
      <td class="col-sm-9"><code>margin-bottom: $line-height-computed;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-left</code></td>
      <td class="col-sm-9"><code>margin-left: $line-height-computed;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-ends</code></td>
      <td class="col-sm-9"><code>margin-top: $line-height-computed;</code><br>
      <code>margin-bottom: $line-height-computed;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-sides</code></td>
      <td class="col-sm-9"><code>margin-right: $line-height-computed;</code><br>
      <code>margin-left: $line-height-computed;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-half</code></td>
      <td class="col-sm-9"><code>margin: $line-height-computed / 2;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-half-top</code></td>
      <td class="col-sm-9"><code>margin-top: $line-height-computed / 2;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-half-right</code></td>
      <td class="col-sm-9"><code>margin-right: $line-height-computed / 2;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-half-bottom</code></td>
      <td class="col-sm-9"><code>margin-bottom: $line-height-computed / 2;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-half-left</code></td>
      <td class="col-sm-9"><code>margin-left: $line-height-computed / 2;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-half-ends</code></td>
      <td class="col-sm-9"><code>margin-top: $line-height-computed / 2;</code><br>
      <code>margin-bottom: $line-height-computed / 2;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-half-sides</code></td>
      <td class="col-sm-9"><code>margin-right: $line-height-computed / 2;</code><br>
      <code>margin-left: $line-height-computed / 2;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-quarter-top</code></td>
      <td class="col-sm-9"><code>margin-top: $line-height-computed / 4;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-quarter-right</code></td>
      <td class="col-sm-9"><code>margin-right: $line-height-computed / 4;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-quarter-bottom</code></td>
      <td class="col-sm-9"><code>margin-bottom: $line-height-computed / 4;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-quarter-left</code></td>
      <td class="col-sm-9"><code>margin-left: $line-height-computed / 4;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-quarter-ends</code></td>
      <td class="col-sm-9"><code>margin-top: $line-height-computed / 4;</code><br>
      <code>margin-bottom: $line-height-computed / 4;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.push-quarter-sides</code></td>
      <td class="col-sm-9"><code>margin-right: $line-height-computed / 2;</code><br>
      <code>margin-left: $line-height-computed / 4;</code></td>
    </tr>
  </tbody>
</table>

<h3 class="component-header">Remove Margins</h3>

<p>Adding a class of <code>.flush-*</code> to an element will decrease its desired margin.</p>

<p class="callout callout-info" role="alert">These classes also have mobile-friendly versions to allow for class stacking. To use, prepend <code>.mobile-</code> to any of the classes below. For example, if you wanted to reduce the right margin on small devices only, you'd use the class <code>.mobile-flush-right</code> instead of <code>.flush-right</code>.</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-sm-3">Group of Classes</th>
      <th class="col-sm-9">CSS <code>margin-*</code></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="col-sm-3"><code>.flush</code></td>
      <td class="col-sm-9"><code>margin: 0;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.flush-top</code></td>
      <td class="col-sm-9"><code>margin-top: 0;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.flush-right</code></td>
      <td class="col-sm-9"><code>margin-right: 0;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.flush-bottom</code></td>
      <td class="col-sm-9"><code>margin-bottom: 0;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.flush-left</code></td>
      <td class="col-sm-9"><code>margin-left: 0;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.flush-ends</code></td>
      <td class="col-sm-9"><code>margin-top: 0;</code><br>
      <code>margin-bottom: 0;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.flush-sides</code></td>
      <td class="col-sm-9"><code>margin-right: 0;</code><br>
      <code>margin-left: 0;</code></td>
    </tr>
  </tbody>
</table>