<div class="jumbotron">
  <div class="container">
    <crds-content-block id="AssetLogoHeader"></crds-content-block>
  </div>
</div>

<div class="container">
  <div class="col-md-offset-3">
    <h2 class="page-header">Logos</h2>

    <p>Available logos are listed below, available as an SVG download. To change the size or color, follow the directions laid out in the <a href="ui/icons/directory">Icons</a> section.</p>

    <h3 class="component-header">Crossroads Word Mark</h3>

    <ddk-example>
<svg class="icon icon-3" viewBox="0 0 578 84" width="578" height="84">
  <use xlink:href="assets/svgs/logo-crds.svg#logo-crds"></use>
</svg>
    </ddk-example>

    <div class="link-group-download push-half-top">
      <a class="link-download" href="assets/svgs/logo-crds.svg#logo-crds" download>
        <span>
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#download"></use>
          </svg>
        </span>
        <span>Download Crossroads word mark (SVG)</span>
      </a>
    </div>

    <h3 class="component-header">Screwhead Logo</h3>

    <ddk-example>
<svg class="icon icon-3 text-primary" viewBox="0 0 300 300" width="300" height="300">
  <use xlink:href="assets/svgs/screwhead-crds.svg#screwhead-crds"></use>
</svg>
    </ddk-example>

    <div class="link-group-download push-half-top">
      <a class="link-download" href="assets/svgs/screwhead-crds.svg#screwhead-crds" download>
        <span>
          <svg class="icon icon-1" viewBox="0 0 256 256">
            <use xlink:href="/assets/svgs/icons.svg#download"></use>
          </svg>
        </span>
        <span>Download screwhead logo (SVG)</span>
      </a>
    </div>
  </div>
</div>