	<h1 class="page-header">Naming Conventions</h1>

	<p>Names for any <code>.sass</code> and/or <code>.scss</code> files should be prepended with an underscore character (e.g. <code>_variables.scss</code>). This convention tells the Sass compiler to not generate an individual copy of this file within the build directory.</p>

	<p>When naming SVGs for inclusion in the compiled sprite, please follow the general conventions imposed by <a href="http://fontawesome.io/">Font-Awesome</a>. Each name should consist of a descriptor and optional modifier that provides a distinction related to direction or shape with a hyphen delimiting the two values.</p>

	<p>For example, a chevron icon that points right should be called <code>chevron-right.svg</code> while a search icon should be named <code>search.svg</code> or <code>search-circle.svg</code> (to denote an icon encapsulated with a circle).</p>
