<ddk-jumbotron id="UIButtonsSectionHeader"></ddk-jumbotron>

<div class="container">
  <div class="component">
    <aside class="mobile-push-bottom">
      <nav>
        <ul class="list-unstyled">
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/buttons/styles">Styles</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/buttons/states">States</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/buttons/groups">Groups</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/buttons/dropdowns">Dropdowns</a>
          </li>
          <li routerLinkActive="active">
          <a routerLink="/ui-components/atoms/buttons/placement">Placement</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>