<ddk-jumbotron id="UITooltips"></ddk-jumbotron>

<div class="container">
  <div class="col-md-offset-3">
    <h2 class="page-header">Tooltips</h2>

    <p class="callout callout-info" role="alert">This button group component requires the inclusion of <a href="https://github.com/valor-software/ngx-bootstrap" target="_blank" class="callout-link">NGX Bootstrap</a> - an external resource used to create Bootstrap-like elements in Angular 2 applications. Please refer to <a href="https://valor-software.com/ngx-bootstrap/#/tooltip" target="_blank" class="callout-link">this documentation</a> when customizing this component.</p>

    <ddk-example id="tooltips" height="450"></ddk-example>
  </div>
</div>