<h2 class="page-header">Sticky</h2>

<p>An element with a <code>sticky-top</code> class will move along the page until it reaches the top. The element will stay in place until replaced by another element with a <code>sticky-top</code> class or if the user scrolls back up above the element.</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-sm-3">Group of Classes</th>
      <th class="col-sm-9">CSS</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="col-sm-3"><code>.sticky-top</code></td>
      <td class="col-sm-9"><code>position: -webkit-sticky;</code><br>
        <code>position: sticky;</code><br>
        <code>top: -1px;</code></td>
    </tr>
  </tbody>
</table>