<h2 class="page-header">Contextual Colors</h2>

<p>Here you'll find additional text utility classes, altering the color of any given text. These classes can be used similarly to the contextual color classes found in <a href="http://getbootstrap.com/css/#helper-classes-colors" target="_blank">Bootstrap's documentation</a>.</p>

<div class="alert alert-info" role="alert">A dark background has been applied to the <code>.text-white</code> code example so you can see the text and the class' impact on said text.</div>

<ddk-example>
<div class="bg-charcoal">
  <p class="text-white bg-charcoal">Lorem ipsum dolor sit amet, consectetur ...</p>
</div>
<p class="text-black">Lorem ipsum dolor sit amet, consectetur ...</p>
<p class="text-gray-dark">Lorem ipsum dolor sit amet, consectetur ...</p>
<p class="text-cyan-light">Lorem ipsum dolor sit amet, consectetur ...</p>
</ddk-example>
