<div class="page-header">
  <h3>Prototyping</h3>
</div>

<p>Whatever you find in the UI Components will, in some way or form, be available for use in Sketch. Instead of spinning your wheels replicating button styles, all these symbols and groups are compiled together in a beautifully organized library. Here’s what you’ll need to do get going with it:</p>

<div class="page-subheader">
  <h3>Installing the Library</h3>
</div>

<p class="list-header">Step 1: Get Sketch</p>
<p>Sketch is an application created for designing digital products. It’s a snap to learn. Go get Sketch.</p>

<p class="list-header">Step 2: Install Craft</p>
<p>After using Sketch for a little while, you’ll find yourself looking for ways to speed up your workflow. Hey, no problem. There are tons of plugins that people have created and shared. <a href="https://www.invisionapp.com/craft">Craft</a> is a suite of plugins created by <a href="https://www.invisionapp.com">inVision</a>.</p>

<ol class="soft-bottom">
	<li>Download Craft (<a href="https://www.invisionapp.com/craft">https://www.invisionapp.com/craft</a>)</li>
	<li>Open CraftInstaller</li>
	<li>Click the [C] in your menu bar and select Sketch</li>
</ol>

<img class="soft-ends" src="https://s3.amazonaws.com/crds-cms-uploads/crds-styleguide/craft-manager.png">

<p>Now when you open Sketch, you’ll see a Craft option in your menu bar.</p>

<img class="soft-ends" src="https://s3.amazonaws.com/crds-cms-uploads/crds-styleguide/sketch-craft.png">

<p class="list-header">Step 3: Download the DDK</p>
<p>To harness version control and release notes, the library lives on Github.</p>
<ol>
	<li>Go to the GH repo (<a href="https://github.com/crdschurch/crds-design">https://github.com/crdschurch/crds-design</a>)</li>
	<li>Click the green button (Clone or download) and select Download Zip</li>
	<li>Unzip the folder</li>
</ol>

<img class="soft-ends" src="https://s3.amazonaws.com/crds-cms-uploads/crds-styleguide/github.gif">

<p class="list-header">Step 4: Load the Library into Sketch</p>
<ol>
	<li>Hang tight, there are just a few more hoops to jump through. </li>
	<li>In Sketch, start a new document or open an existing one</li>
	<li>If the Craft panel is not visible, choose Craft > Toggle Panel</li>
	<li>Click the Library icon in the panel</li>
	<li>Select Import Library</li>
	<li>Open the unzipped folder (the one you downloaded from Github)</li>
</ol>

<img class="soft-ends" src="https://s3.amazonaws.com/crds-cms-uploads/crds-styleguide/load-library.gif">

<p>Note: As part of the digital branding standards, you’ll need to acquire the following typefaces, all of which are available at <a href="https://typekit.com/">Typekit</a>: </p>

<ul>
	<li>Acumin Pro (Thin, Light, Semibold)</li>
	<li>Acumin Pro SemiCondensed (Semibold)</li>
	<li>Acumin Pro ExtraCondensed (Semibold)</li>
	<li>Lexia (Italic)</li>
</ul>

<div class="page-subheader">
  <h3>Tips for using the Library</h3>
</div>

<ul>
	<li>The overall organization of the library is more natural language than what you’ll find on the DDK site.</li>
	<li>Use the search function to quickly find what you need.</li>
	<li>Some symbols are designed to accommodate a theme, for instance a low-light app used during an event. Prepended to the symbol’s name, you’ll see a white circle ( ⚪️  ) for light theme and a black circle ( ⚫️  ) for dark theme.</li>
	<li>If you’re starting a new document, begin by dragging one of the device’s sizes from the Artboard section. These artboards contain the layout grids defined in the Responsive Web Design section of the DDK.</li>
	<li>Some symbols, like buttons or alerts, utilize Overrides (a subset of the Inspector panel). Whenever a symbol has the same design but a slightly different treatment, overrides are typically employed. Think of an input field within a form. It was a default state but also one for focus, disabled and validation. When these options exist, look for a blue diamond (🔹 ) in the panel. You can also change a symbol’s text without altering the style of the type using overrides. Checkout this example…
	<img src="https://s3.amazonaws.com/crds-cms-uploads/crds-styleguide/overrides.gif"></li>
	<li>When using a Button Group, the default set is five buttons. If you need less, set the override to “None” for any you wish to remove. If you need more, you’ll have to edit the symbol. </li>
	<li>A note about icons. First off, the default size corresponds to the class .icon-1 in the <a href="/ui/icons/resize-svg">Icons > Sizing</a> section of the DDK. The size is perfect for body content but can easily be scaled. Secondly, the icons are not symbols but paths. Why? As paths you can more easily apply color without having to change or duplicate a symbol (don’t forget symbols are reusable). Also keep in mind that any icon added to the DDK will be part of the SVG repository, sized and styled by CSS.</li>
	<li>Let’s talk type formatting. If you simply want to drop in a pre-formatted piece of text, say a page header, the Type Blocks section of the library is for you. But if you already have text in a layout and simply want to match a predefined style, try Type Styles instead. In either case, you have full control of the text itself, color and alignment.</li>

</ul>