<h1 class="page-header">Imgix</h1>

<p>We use <a href="https://www.imgix.com/">Imgix</a> to serve our images. This assures the correct image size is delivered to the browser based on the size of the container and viewport of the device used to view the page. It also functions as a powerful CDN for any user-generated content which means faster delivery and better caching.</p>

<p>Its easy to use too. Simply prefix any image uploaded to the CMS with <code>//crds-cms-uploads.imgix.net/</code> and you can immediately take advantage of the powerful features and benefits provided by Imgix.</p>

<p>There are lots of options for configuring and using this service so please checkout <a href="https://docs.imgix.com/">their documentation</a> when integrating this service into your application.</p>