<ddk-jumbotron id="ddkDevelopersLearnMoreJumbotron"></ddk-jumbotron>

<div class="container">
  <div class="component">
    <aside class="mobile-push-bottom">
      <nav>
        <ul class="list-unstyled">
          <li routerLinkActive="active">
            <a routerLink="/developers/learn-more/built-on-bootstrap">Bootstrap</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/developers/learn-more/css-sass">CSS / Sass</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/developers/learn-more/grid">Grid System</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/developers/learn-more/web-fonts">Web Fonts</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/developers/learn-more/custom-npm-packages">Custom NPM Packages</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
