<sebm-google-map
  [latitude]="options.lat"
  [longitude]="options.lng"
  [zoom]="options.zoom"
  [disableDefaultUI]="options.disableDefaultUI"
  [streetViewControl]="options.streetViewControl"
  [scrollwheel]="options.scrollwheel"
  [styles]="options.styles"
  [zoomControl]="options.zoomControl">

  <sebm-google-map-marker
      *ngFor="let marker of markers; let i = index"
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [iconUrl]="marker.iconUrl">

    <sebm-google-map-info-window>
      <strong>{{ marker.name }}</strong>
      <p>{{ marker.description }}</p>
    </sebm-google-map-info-window>

  </sebm-google-map-marker>

</sebm-google-map>
