<footer class="footer">
  <div class="container">
    <div>
      <crds-content-block id="copyright"></crds-content-block>
      <div class="footer-icons">
        <ul class="list-inline">
          <li>
            <a href="https://twitter.com/crdschurch/" target="_blank" class="secondary">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/crdschurch/" target="_blank" class="secondary">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/crdschurch" target="_blank" class="secondary">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/crdschurch/" target="_blank" class="secondary">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://github.com/crdschurch" target="_blank" class="secondary">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>