<ddk-jumbotron id="UIProgressBarHeader"></ddk-jumbotron>

<div class="container">
  <div class="col-sm-offset-0 col-md-offset-3">
    <h2 class="page-header">Progress Bar</h2>

    <h3 class="component-header">Default</h3>

    <p>
      Progress bars are built from
      <a href="http://getbootstrap.com/docs/3.3/components/#progress">the Bootstrap pattern</a>.
    </p>

    <ddk-example>
<div class="progress">
  <div class="progress-bar" style="width: 60%;"></div>
</div>
    </ddk-example>

    <h3 class="component-header">Color Variations</h3>

    <p>
      The DDK supports an array of colors, in addition to the variations offered
      by Boostrap.
    </p>

    <ddk-example>
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 30%;"></div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-info" style="width: 35%;"></div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" style="width: 40%;"></div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-danger" style="width: 45%;"></div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-blue" style="width: 50%;"></div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-cyan" style="width: 55%;"></div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-teal" style="width: 60%;"></div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-orange" style="width: 65%;"></div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-gold" style="width: 70%;"></div>
</div>
    </ddk-example>
  </div>
</div>

