<div #contentRef class="crds-example crds-inline-markup" [hidden]="!markupInline"><ng-content></ng-content></div>

<button type="button" class="btn btn-gray-light btn-sm clippable" id="{{clippableUUID}}" [class.hidden]="!clippableMoved">
  <svg class="icon icon-1" viewBox="0 0 256 256">
    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#copy"></use>
  </svg>
</button>

<div class="crds-example crds-embedded-markup" [hidden]="markupInline">
  <iframe #iframe [src]="iframeSrc" [hidden]="iframeHidden" *ngIf="iframeSrc !== undefined" width="{{width}}" height="{{height}}" frameborder="0" allowTransparency="true" (load)="iframeLoaded()"></iframe>
  <div class="example-row">
    <div class="tree">
      <div class="list-group">
        <a href="#" *ngFor="let file of files" class="list-group-item" (click)="onClick(file)" [ngClass]="{ 'active': manifest.active === file }">{{file}}</a>
      </div>
    </div>
    <div class="markup" id="markup-{{clippableUUID}}">
      <pre [innerHTML]="markup"></pre>
    </div>
  </div>
</div>
