<h1 class="page-header">Logos</h1>

<h2 class="component-header">Crossroads Logo</h2>

<p>The Crossroads word mark is good old Helvetica Neue Black (tracking -80). Please do not go and create your own version. We know you are very talented. But seriously, just use what we’ve created.</p>

<p>More often than not, the logo should be Crossroads blue, black, white or grey.</p>

<div class="link-group-download push-half-top">
  <a class="link-download" href="assets/svgs/logo-crds.svg#logo-crds" download>
    <span>
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#download"></use>
      </svg>
    </span>
    <span>Download Crossroads word mark (SVG)</span>
  </a>
</div>

<h2 class="component-header">Screwhead Logo</h2>

<p>This simple icon is a flexible design element that can be used as part of the Crossroads identity. While created as a simplistic representation of a crossroads, it is not intended to be used as a traditional brandmark. Instead, it is a support piece to be used sparingly throughout a design.</p>

<div class="link-group-download push-half-top">
  <a class="link-download" href="assets/svgs/screwhead-crds.svg#screwhead-crds" download>
    <span>
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#download"></use>
      </svg>
    </span>
    <span>Download screwhead logo (SVG)</span>
  </a>
</div>

<h2 class="component-header">Ministries and Sub-Brands</h2>

<p>But wait! Crossroads has a ministry called ReachOut. And they have a logo. And then within ReachOut, there are sub-ministries: GO Bolivia, GO India, GO Nicaragua, GO South Africa, GO New Orleans. AND they all have logos.... With no style guide!</p>

<p>We know. Some of our Ministries such as GO Trips, Camps and Kids’ Club have their own branding. It can be confusing. Sorry about that. The simple answer is: if you are working with a specific ministry, ask them for the branding materials that are unique to them.</p>

<h2 class="component-header">Have questions?</h2>

<a href="mailto:design@crossroads.net">Contact our communications department</a>
