<div class="page-header">
  <h3>Logos</h3>
</div>

<div class="page-subheader">
  <h3>Crossroads Logo</h3>
</div>

<p>The Crossroads word mark is good old Helvetica Neue Black (tracking -80). Please do not go and create your own version. We know you are very talented. But seriously, just use what we’ve created.</p>

<p>More often than not, the logo should be Crossroads blue, black, white or grey.</p>

<div class="page-subheader">
  <h3>Screwhead Logo</h3>
</div>

<p>This simple icon is a flexible design element that can be used as part of the Crossroads identity. While created as a simplistic representation of a crossroads, it is not intended to be used as a traditional brandmark. Instead, it is a support piece to be used sparingly throughout a design.</p>

<div class="page-subheader">
  <h3>Ministries and Sub-Brands</h3>
</div>

<p>But wait! Crossroads has a ministry called ReachOut. And they have a logo. And then within ReachOut, there are sub-ministries: GO Bolivia, GO India, GO Nicaragua, GO South Africa, GO New Orleans. AND they all have logos.... With no style guide!</p>

<p>We know. Some of our Ministries such as GO Trips, Camps and Kids’ Club have their own branding. It can be confusing. Sorry about that. The simple answer is: if you are working with a specific ministry, ask them for the branding materials that are unique to them.</p>

<div class="page-subheader">
  <h3>Have questions?</h3>
</div>

<a href="mailto:">Contact our communications department</a>