<div class="page-header">
  <h2>Vertical Positioning</h2>
</div>

<p>To use these utility classes, add to an element whose parent has <code>position: relative</code>.</p>

<p>All vertical positioning utility classes have <code>position: absolute</code> and <code>width: 100%</code>.</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-sm-3">Group of Classes</th>
      <th class="col-sm-9">CSS</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="col-sm-3"><code>.vertical-center</code></td>
      <td class="col-sm-9"><code>left: 50%;</code><br>
      <code>top: 50%;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.vertical-bottom</code></td>
      <td class="col-sm-9"><code>left: 50%;</code><br>
      <code>top: 0;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.vertical-10</code></td>
      <td class="col-sm-9"><code>left: 50%;</code><br>
      <code>top: 10%;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.vertical-20</code></td>
      <td class="col-sm-9"><code>left: 50%;</code><br>
      <code>top: 20%;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.vertical-70</code></td>
      <td class="col-sm-9"><code>left: 50%;</code><br>
      <code>top: 70%;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.vertical-80</code></td>
      <td class="col-sm-9"><code>left: 50%;</code><br>
      <code>top: 80%;</code></td>
    </tr>
  </tbody>
</table>