<ddk-jumbotron id="UIColorsSectionHeader"></ddk-jumbotron>

<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui-components/core/colors/swatches">Swatches</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui-components/core/colors/overrides">Overrides</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui-components/core/colors/backgrounds">Backgrounds</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui-components/core/colors/text">Text</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>