<h2 class="page-header flush-top">Video Modals</h2>

<p class="callout callout-info" role="alert">Angular 2+ apps should use the
  <a href="http://valor-software.com/ngx-bootstrap/#/" class="callout-link">ngx-bootstrap library</a> for implementing modal windows.</p>

<p>
  Modal windows displaying a video as its only content should include a
  <code>.video-modal</code> selector on its container.
</p>

<p>
  Here is an example of a video modal implementation within an Angular
  4.1.2 application.
</p>

<ddk-example height="450" id="modals"></ddk-example>