<div aria-label="..." class="btn-group" role="group">
  <default-modal buttonText="Default Modal"></default-modal>
  <default-modal-form buttonText="Default Modal with Form"></default-modal-form>
  <default-modal-promo buttonText="Default Modal with Promo"></default-modal-promo>
  <full-modal buttonText="Full Screen Modal"></full-modal>
  <full-modal-form buttonText="Full Screen Modal with Form"></full-modal-form>
  <video-modal videoId="LIdCR2rywl4" buttonText="Video Modal"></video-modal>
</div>