<button class="btn btn-default" type="button" role="button" (click)="staticModal.show()">{{buttonText}}</button>

<div class="modal fade" bsModal #staticModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4 class="modal-title">Need a reminder?</h4>
        <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum.</p>
      </div>
      <div class="modal-footer">
        <div class="btn-block-mobile">
          <button class="btn btn-cyan btn-lg" type="button">Primary Action</button>
          <button class="btn btn-cyan btn-outline btn-lg" type="button">Secondary Action</button>
        </div>
      </div>
    </div>
  </div>
</div>
