<button class="btn btn-default" type="button" role="button" (click)="modal.show()">{{buttonText}}</button>

<div bsModal #modal="bs-modal" class="modal fade video-modal"
     (onShow)="setVideoSrc()" (onHidden)="clearVideoSrc()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close pull-right" (click)="modal.hide()">
          <span>&times;</span>
        </button>
        <iframe [src]="videoSrc" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
