<h2 class="page-header">Corners</h2>

<p>To give an element rounded corners, use the class <code>.round-corners</code>. If you want to remove rounded corners from an element, use a class of <code>.square-corners</code>.</p>

<p><strong>Please Note:</strong> <code>.round-corners</code> relies on a Bootstrap-defined variable. See documentation for that variable <a href="http://getbootstrap.com/docs/3.3/customize/#components" target="_blank">here</a>.</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-sm-3">Group of Classes</th>
      <th class="col-sm-9">CSS <code>border-radius</code></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="col-sm-3"><code>.round-corners</code></td>
      <td class="col-sm-9"><code>border-radius: $border-radius-base;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.square-corners</code></td>
      <td class="col-sm-9"><code>border-radius: 0;</code></td>
    </tr>
  </tbody>
</table>