<ddk-utilities-jumbotron></ddk-utilities-jumbotron>
<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/utilities/borders">Borders</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/utilities/corners">Corners</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/utilities/display">Display</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/utilities/images">Images</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/utilities/margin">Margin</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/utilities/padding">Padding</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/utilities/text">Text</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/utilities/buttons">Buttons</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/ui/utilities/vertical-positioning">Vertical Positioning</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
