<div class="container">
	<div class="page-header">
	  <h3>Getting Started</h3>
	</div>

	<p>You can think of the DDK as a glorified reference document. Whenever you’re looking for the official rules around a UI element or need to know the proper approach for placing icons in pages or are curious if a UX pattern to resolve some issue has already been adopted by the organization, the DDK is the place to look first.</p>  

	<p>It’s also worth noting that... <code>crds-styles</code> is not the DDK.</p>

	<p>The shared, global style package that powers Crossroads’ digital properties, a.k.a. crds-styles, is actually <a href="https://www.npmjs.com/crds-styles">a separate NPM package</a> that should be installed in your application as a dependency. The DDK is a website that provides guidance and usage details for implementing various patterns and styles, geared to towards the organization’s designers &amp; developers.</p>

	<p>Overtime, the DDK will grow and mature, as will the shared package that powers it.  Be sure to <a href="https://github.com/crdschurch/crds-styles#versions--roadmap">review the semantic versioning rules and project roadmap</a> to protect yourself from accidental regressions as the package changes over time.</p>
</div>