<h2 class="page-header">Card Decks</h2>

<p>A card deck is a group of cards which share the same height as the tallest card in the deck. Height is determined by the length of content within a card, and the card with the most content will dictate the height of the other cards in the deck.</p>

<section>
  <h3 class="component-header">Default Card Deck</h3>

  <ddk-example id="card-deck-default" height="500"></ddk-example>
</section>

<section>
  <h3 class="component-header">Card Deck Carousel</h3>

  <ddk-example id="card-deck-carousel" height="500"></ddk-example>
</section>