<h2 class="page-header">Dropdown Menus</h2>

 <h3 class="component-header">Using NGX Bootstrap</h3>

<p>
  The example below shows an Angular implementation using the NGX Bootstrap
  library.
</p>

<ddk-example id="button-dropdown" height="200"></ddk-example>

<!-- <ddk-example>
  <a href="#" class="btn btn-primary">Link</a>
  <button class="btn btn-secondary" type="submit">Button</button>
  <input class="btn btn-gray" type="button" value="Input">
  <button class="btn btn-option">Option</button>
  <input class="btn btn-default" type="submit" value="Submit">
</ddk-example> -->
