/*
** 1. Variables
** 2. Header & Navigation
** 3. Footer
** 4. Misc. styles
*/




// 1. Variables
$gray: #f5f5f5;
$footer-background: $gray;
$code-color: #d9004b;
$code-bg: #faf2f4;

$example-bg: #f5f2f0;
$example-list-border-color: #ddd;
$example-list-hover-bg: $gray;
$example-bg-dark-theme: #272822;
$example-border-color-dark-theme: #343434;
$example-default-color-dark-theme: #f8f8f2;

// Bootstrap overrides for DDK dark-theme
$navbar-inverse-bg: $cr-black;
$navbar-inverse-border: darken($cr-gray-dark, 10);





// 2. Header & Navigation
.nav {
  &.navbar-nav.pull-right {
    @media (max-width: $screen-sm) {
      display: none;
    }
  }
  > li {
    position: static;
  }

  a.active {
    color: $cr-black;
    .dark-theme & {
      color: $cr-white;
    }
  }
}

.navbar {
  margin-bottom: 0;
  border-bottom: none;

  h3 {
    font-size: 2rem;
  }

  &.navbar-default {
    border-width: 0 0 1px 0;
    border-radius: 0;
    background-color: $cr-white;

    .logo-ddk {
      float: left;
      display: block;
      height: 50px;
    }

    .navbar-brand {
      fill: $cr-gray;
    }

    .dark-theme & {
      @extend .navbar-inverse;

      .navbar-brand {
        fill: $cr-white;
      }
    }

    .inverted & {
      background-color: rgba($cr-white, .6);
      border-bottom: none;
    }
  }

  @media (min-width: $screen-sm) {
    .container-fluid {
      padding: 0;
      a.navbar-brand {
        margin-left: 0;
      }
    }
  }

  .dropdown-toggle {
    .icon {
      margin-left: 3px;
      width: 10px;
      height: 10px;
      transition: 250ms;
    }
  }

  .navbar-nav > li {
    > .dropdown-menu {
      .dark-theme & {
        background: $cr-gray-darker;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.75);
      }

      .inverted & {
        background: #333333;
        margin-top: 0;
      }
    }
  }

  .open > .dropdown-toggle > .icon {
    transform: rotate(-180deg);
  }
}


.mega-menu {

  &_title {
    padding-left: 15px;
    padding-right: 15px;
  }

  &_inner {
    border: none;
    border-radius: 0;
    padding: 1rem 0 2rem;
    width: 100%;

    @media (min-width: $screen-sm) {
      padding-bottom: 4rem;
    }

    .col-md-12 > a {
      &:hover {
        text-decoration: none;
      }
    }
  }

  &_list {
    @media (min-width: $screen-sm) {
      @include make-sm-column(4);
    }

    > p {
      cursor: default;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      line-height: 1.75;
    }
  }
}

.mega-menu_subheader {
  color: $cr-gray-light;
  font-size: $base-font-size;
  font-weight: 400;
}

.navbar-brand svg {
  @include size(8.125rem, 1.1875rem);
}

.theme-toggle-switch,
.mobile-nav-trigger {
  color: $cr-gray;
  float: right;
  padding: 10px 15px 15px;

  &:hover {
    color: darken($cr-gray, 10);
  }

  .dark-theme & {
    color: $cr-white;
    border-left: 1px solid darken($cr-gray-dark, 10);
  }
}




// 3. Footer
.footer {
  width: 100%;
  background-color: lighten($cr-gray-lighter, 5);
  padding: 2rem 0;
  margin-top: 2rem;

  .dark-theme & {
    background: $cr-gray-darker;
  }

  .inverted & {
    background: rgba($cr-white, .2);
  }

  .footer-list {
    margin-bottom: 1em;

    @include make-xs-column(12);

    @media (min-width: $screen-sm) {
      @include make-sm-column(6);
    }

    @media (min-width: $screen-md) {
      @include make-md-column(3);
    }

    h5 {
      text-decoration: uppercase;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .container > div {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-sm) {
      flex-direction: row;
      justify-content: space-between;
    }

    .footer-text,
    .footer-icons {
      flex: 0 0 auto;
      max-width: 100%;
    }
  }
}




// 4. Misc. styles
h1 {
  .page-header &,
  .jumbotron.ddk & {
    font-family: $base-font-face;
    font-weight: 100;
  }

  .dark-theme .jumbotron.ddk & {
    color: $cr-white;
  }
}

aside > nav {
  li {
    padding: 7px 0;

    &:first-child {
      padding-top: 0;
    }
  }

  .active > a {
    color: $text-color;
  }

  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
}

body.dark-theme {
  transition: all 0.3s;
}

.component {
  @include make-row;

  aside {
    @include make-sm-column(12);

    @media (min-width: $screen-sm) {
      @include make-sm-column(3);
    }
  }
  > div {
    @include make-sm-column(12);

    @media (min-width: $screen-sm) {
      @include make-sm-column(9);
    }
  }
}

.tbd {
  a {
    color: $gray;
  }
}

.breadcrumb {
  .inverted & {
    background: rgba($cr-white, .6);

    a {
      color: $cr-gray-light;


      &:hover {
        color: darken($cr-gray-light, 30);
      }
    }

    > li + li:before {
      color: darken($cr-gray-dark, 30);
    }

    > .active {
      color: darken($cr-gray-dark, 30);
    }
  }
}

.page-header {
  &:first-child {
    &, h2 {
      margin-top: 0;
    }
  }
}

.page-subheader {
  margin: 3em 0 1em;

  h3 {
    @extend .font-family-condensed;
    font-size: 180%;
  }
}

.selector {
  margin-bottom: 3em;
  > code {
    margin-bottom: 0.5em;
  }
  > .annotation {
    margin-top: 0.5em;
  }
  p > code {
    margin-bottom: 0;
  }
}

.annotation {
  font-weight: 600;
}

.jumbotron.ddk {
  margin-bottom: 3em;

  h1 {
    font-family: $condensed-extra-font-face;
    font-size: 4rem;
    margin-top: 0;
    text-transform: uppercase;
  }

  p {
    font-size: 19px;
  }
}

.link-download {
  text-decoration: none;

  & span:last-child {
    vertical-align: middle;
  }

  &:hover {
    text-decoration: none;
  }
}

.breadcrumb.ddk {
  background: transparent;
  margin: 0;

  a {
    color: $cr-white;
    text-transform: uppercase;

    &:focus,
    &:hover {
      color: $cr-white;
    }
  }

  > li:before {
    content: none;
  }

  > li:after {
    content: '/';
    padding: 0 6px 0 4px;
    opacity: .8;
  }

  > li:last-child:after {
    padding-right: 0;
  }
}

.callout {
  border: 1px solid rgba($cr-gray-light, .25);
  border-left: 6px solid rgba($cr-gray-light, .25);
  border-radius: 0;
  color: $cr-gray-light;
  font-family: $accent-font-face;
  font-size: $font-size-small;
  font-style: italic;
  font-weight: 300;
  line-height: 1.43;
  padding: 15px 21px;

  &.callout-info {
    border-left-color: $alert-info;
  }

  &.callout-success {
    border-left-color: $alert-success;
  }

  &.callout-warning {
    border-left-color: $alert-warning;
  }

  &.callout-danger {
    border-left-color: $alert-danger;
  }

  .callout-link {
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $link-hover-color;
    }
  }

  code {
    font-family: $accent-font-face;
    font-size: $font-size-small;
  }
}

.linkable {
  position: relative;
  > a {
    position: absolute;
    margin-left: -3em;
    padding: 0.5em;
    padding-right: 2.25em;
    font-size: 90%;
    color: $cr-blue-light;
    visibility: hidden;
    .icon {
      height: 24px;
      background-size: 24px;
    }
  }
  &:hover > a {
    visibility: visible;
  }
}