<div class="ddk jumbotron">
  <div class="container">
    <crds-content-block id="UICountdownHeader"></crds-content-block>
  </div>
</div>

<div class="container">
  <div class="col-md-offset-3">


    <ddk-example>
<div class="countdown">
  <span class="countdown-header">Join the live stream in...</span>

  <ul class="countdown-timer list-inline">
    <li class="countdown-days">03</li>
    <li class="countdown-hours">00</li>
    <li class="countdown-minutes">42</li>
    <li class="countdown-seconds">37</li>
  </ul>

  <a class="btn countdown-btn" href="#">Remind Me</a>
</div>
    </ddk-example>
  </div>
</div>