<ddk-custom-npm-packages-jumbotron></ddk-custom-npm-packages-jumbotron>
<div class="container">
  <div class="component">
    <aside>
      <nav>
        <ul class="list-group">
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/developers/custom-npm-packages/overview-dry">Overview/DRY</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/developers/custom-npm-packages/shared-header">Shared header</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/developers/custom-npm-packages/reactive-sso">Reactive SSO</a>
          </li>
          <li routerLinkActive="active" class="list-group-item">
            <a routerLink="/developers/custom-npm-packages/content-blocks">Content Blocks</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>