<ddk-jumbotron id="UIFeedbackSectionHeader"></ddk-jumbotron>

<div class="container">
  <div class="component">
    <aside class="mobile-push-bottom">
      <nav>
        <ul class="list-unstyled">
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/feedback/alerts">Alerts</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/ui-components/atoms/feedback/toast-notifications">Toast Notifications</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
