<html>
  <head>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
  </head>
  <body>

    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <!-- Logo -->
            <a href="#" class="navbar-brand logo">
              <svg viewBox="0 0 801 116" width="801" height="116">
                <use xlink:href="assets/svgs/logo.svg#logo"></use>
              </svg>
            </a>

            <!-- Primary nav menu -->
            <ul class="nav nav-pills nav-primary pull-right">

              <!-- Primary nav item -->
              <li class="">
                <a href="#" class="dropdown-toggle" dropdown-toggle="dropdown">About</a>

                <!-- Large dropdown menu -->
                <ul class="dropdown-menu row featured-row">

                  <!-- The featured column is always the first column, as long as -->
                  <!-- the parent has the "featured-row" class. -->
                  <li class="col-sm-3">
                    <ul>
                      <li>
                        <a href="#">
                          <img src="https://crds-cms-uploads.imgix.net/content/images/explore.jpg?ixjsv=2.2.3&amp;w=260">
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img src="https://crds-cms-uploads.imgix.net/content/images/history.jpg?ixjsv=2.2.3&amp;w=260">
                        </a>
                      </li>
                    </ul>
                  </li>

                  <!-- Dropdown column #2 -->
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">
                        Dropdown Header
                      </li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                    </ul>
                  </li>

                  <!-- Dropdown column #3 -->
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">
                        Dropdown Header
                      </li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                    </ul>
                  </li>

                  <!-- Dropdown column #4 -->
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">
                        Dropdown Header
                      </li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Grow</a></li>
              <li><a href="#">Media</a></li>
              <li><a href="#">Give</a></li>
              <li><a href="#">Updates</a></li>
              <li><a href="#">Locations</a></li>

              <li>
                <a href="#" class="btn">
                  <svg class="icon icon-1" viewBox="0 0 256 256">
                    <use height="256" width="256" xlink:href="/assets/svgs/icons.svg#search"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </body>
