<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Crossroads Header</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://unpkg.com/imgix.js@3.3.0/dist/imgix.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
  </head>
  <body>

    <div class="header">
      <div tabindex="-1" role="dialog" class="modal fade mobile-menu">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <ul>
              <li>
                <a href="#">Sign In</a>
              </li>
              <li>
                <a role="button" data-toggle="collapse" href="#collapse-about">
                  About Us
                  <svg class="icon icon-1" viewBox="0 0 256 256">
                    <use xlink:href="/assets/svgs/icons.svg#chevron-right"></use>
                  </svg>
                </a>
                <ul id="collapse-about" class="collapse">
                  <li>
                    <a href="#">Our History</a>
                  </li>
                  <li>
                    <a href="#">Pastoral Care</a>
                  </li>
                  <li>
                    <a href="#">Contact Us</a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#">Another Link</a>
              </li>
              <li>
                <a href="#">Another Link</a>
              </li>
              <li>
                <a href="#">Another Link</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Main Header -->
      <div class="container">
        <div class="row">
          <div class="col-xs-12">

            <!-- Menu Trigger -->
            <a href="#" class="navbar-left hidden-md hidden-lg hidden-xl"
               data-toggle="modal" data-target=".header .modal">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xlink:href="/assets/svgs/icons.svg#menu"></use>
              </svg>
            </a>

            <!-- Mobile Search Icon -->
            <a href="#" class="pull-right hidden-md hidden-lg hidden-xl">
              <svg class="icon icon-1" viewBox="0 0 256 256">
                <use xlink:href="/assets/svgs/icons.svg#search"></use>
              </svg>
            </a>

            <!-- Logo -->
            <a href="#" class="navbar-brand logo">
              <svg viewBox="0 0 578 84" width="578" height="84">
                <use xlink:href="assets/svgs/logo-crds.svg#logo-crds"></use>
              </svg>
            </a>

            <!-- User Menu -->
            <div class="dropdown pull-right profile-menu hidden-xs hidden-sm">
              <a href="javascript:void(0)" class="nav-profile-image img-circle dropdown-toggle" data-toggle="dropdown">
                <img ix-src="https://crossroads-media.imgix.net/images/avatar.svg">
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                  <a class="ng-binding" href="/profile/personal">Sean</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="/profile/personal">My Profile</a>
                </li>
                <li>
                  <a href="/givinghistory">Giving History</a>
                </li>
                <li>
                  <a href="/serve-signup">Sign Up to Serve</a>
                </li>
                <li>
                  <a href="/groups/mygroups">My Groups</a>
                </li>
                <li>
                  <a href="/trips/mytrips">My Trips</a>
                </li>
                <li>
                  <a href="/mycamps">My Camps</a>
                </li>
                <li>
                  <a href="/childcare">Childcare</a>
                </li>
                <li>
                  <a href="/signout">Sign Out</a>
                </li>
              </ul>
            </div>

            <!-- Primary nav menu -->
            <ul class="nav nav-pills nav-primary pull-right hidden-xs hidden-sm">

              <!-- Primary nav item -->
              <li class="dropdown">
                <a href="#" data-toggle="dropdown">About</a>

                <!-- Large dropdown menu -->
                <ul class="dropdown-menu row featured-row">

                  <!-- The featured column is always the first column, as long as -->
                  <!-- the parent has the "featured-row" class. -->
                  <li class="col-sm-3">
                    <ul>
                      <li>
                        <a href="#">
                          <img ix-src="https://crds-cms-uploads.imgix.net/content/images/explore.jpg?ixjsv=2.2.3&amp;w=260">
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <img ix-src="https://crds-cms-uploads.imgix.net/content/images/history.jpg?ixjsv=2.2.3&amp;w=260">
                        </a>
                      </li>
                    </ul>
                  </li>

                  <!-- Dropdown column #2 -->
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">
                        Dropdown Header
                      </li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                    </ul>
                  </li>

                  <!-- Dropdown column #3 -->
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">
                        Dropdown Header
                      </li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                    </ul>
                  </li>

                  <!-- Dropdown column #4 -->
                  <li class="col-sm-3">
                    <ul>
                      <li class="dropdown-header">
                        Dropdown Header
                      </li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">Grow</a></li>
              <li><a href="#">Media</a></li>
              <li><a href="#">Give</a></li>
              <li><a href="#">Updates</a></li>
              <li><a href="#">Locations</a></li>

              <!-- Search Button -->
              <li class="push-half-right">
                <a href="#" class="btn">
                  <svg class="icon icon-1" viewBox="0 0 256 256">
                    <use xlink:href="/assets/svgs/icons.svg#search"></use>
                  </svg>
                </a>
              </li>

              <!-- Sign In Button -->
              <li class="hide">
                <a href="#" class="btn btn-gray cta">
                  Sign In
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
