<div class="page-header">
  <h3>Typography</h3>
</div>

<p>Crossroads typography is modern and simple. This allows the content to speak for itself by getting out of the way.</p>

<p>Think of a designer’s portfolio website. When you see the titles and description copy it’s more than likely something simple—allowing the work to stand out. That’s what we want to do at Crossroads.</p>

<p>Great care has gone into the development of our <a href="/ui/typography/typesetting">typesetting</a> section. When designing something, always start there.</p>

<p>Also, use smart quotes. Don’t know what a smart quote is...we don’t know what to tell you. Actually, we do - check this out: <a href="https://www.typewolf.com/cheatsheet">https://www.typewolf.com/cheatsheet</a></p>

<div class="page-subheader">
  <h3>Questions:</h3>
</div>

<dl>
	<dt class="soft-half-ends">What if I’m designing a website for a campaign?</dt>
	<dd>First, thank you for your help. Second, stick with the font families we’ve called out. If the Creative Lead feels like the project warrants new typefaces, we’ll cross that bridge when we get there.</dd>
	<dt class="soft-half-ends">What about series brand graphics? They are always using other typefaces.</dt>
	<dd>That’s true. Good eye! The typographic choices in those cases are made to best communicate the feeling of the series.</dd>
	<dt class="soft-half-ends">I’ve noticed that Woman Camp, Kids’ Club, and Awaited don’t use the “approved” typefaces. What gives?</dt>
	<dd>Yes that is indeed true. Bonus points if you know the fonts they use off the top of your head. Each one has their own brand guidelines. If you are working with a particular ministry or creative lead, please contact them for assets.</dd>
</dl>