<div class="page-header">
  <h2>Search Field</h2>
</div>

<p>The search field is built using Bootstrap's <a href="http://getbootstrap.com/components/#input-groups-buttons" target="_blank">Button Addons</a> component. By adding the class of <code>searchbar</code> to the <code>input-group</code>, you remove the form field validation styles that other input fields have.</p>

<div class="crds-example">
  <div class="input-group searchbar">
    <input type="text" class="form-control" placeholder="Search ...">
    <span class="input-group-btn">
      <button type="submit" class="btn btn-secondary">
        <svg class="icon icon-1" viewBox="0 0 256 256">
          <use xlink:href="/assets/svgs/icons.svg#search"></use>
        </svg>
      </button>
    </span>
  </div>
</div>
