<h2 class="page-header">Search Fields</h2>

<h3 class="component-header">Default Search</h3>

<p>
  The search field uses input button groups. See
  <a routerLink="/ui/forms/groups">the groups docs</a> for more information.
</p>

<ddk-example>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search ...">
    <span class="input-group-btn">
    <button type="submit" class="btn btn-secondary">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#search"></use>
      </svg>
    </button>
  </span>
  </div>
</ddk-example>

<h3 class="component-header">Search with Clickable Addon</h3>

<ddk-example>
<div class="input-group searchbar">
  <form class="full-width">
    <input type="search" class="form-control" id="search-bar-input" placeholder="Search me">

    <div class="searchbar-wrapper"></div>

    <span class="addon-btn-group">
      <ul class="list-inline">
        <li>
          <button class="addon-btn" type="button" role="button">
            <svg class="icon icon-1" viewBox="0 0 256 256">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#close-thin"></use>
            </svg>
          </button>
        </li>

        <li>
          <button class="addon-btn" type="button" role="button">
            <svg class="icon icon-1" viewBox="0 0 256 256">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/svgs/icons.svg#equalizer"></use>
            </svg>
          </button>
        </li>
      </ul>
    </span>
  </form>

  <span class="input-group-btn">
    <button type="submit" class="btn btn-secondary" role="search">
      <svg class="icon icon-1" viewBox="0 0 256 256">
        <use xlink:href="/assets/svgs/icons.svg#search"></use>
      </svg>
    </button>
  </span>
</div>
</ddk-example>