<h2 class="page-header">Groups</h2>

<p class="callout callout-info">For a button to have an active state, the class <code>active</code> must be added to the selector. This can be done using either <a href="https://angular.io/docs/ts/latest/guide/template-syntax.html#!#class-binding" target="_blank" class="callout-link">class binding</a>, .e.g. <code>&#91;class.active&#93;="isActive"</code>, or with the <a href="https://angular.io/docs/ts/latest/guide/template-syntax.html#!#ngClass" target="_blank" class="callout-link">NgClass directive</a>, e.g. <code>&#91;ngClass&#93;="&#123;'active'&#125;"</code>.</p>

<h3 class="component-header">Button Group - Horizontal</h3>

<ddk-example>
  <div class="btn-group">
    <button *ngFor="let button of buttons"
            type="button"
            class="btn btn-option btn-outline"
            [class.active]="button === selectedButton"
            (click)="onSelect(button)">{{ button.label }}</button>
  </div>
  <pre>
<div class="btn-group">
  <button type="button" class="btn btn-option btn-outline">Option 1</button>
  <button type="button" class="btn btn-option btn-outline">Option 2</button>
  <button type="button" class="btn btn-option btn-outline">Option 3</button>
  <button type="button" class="btn btn-option btn-outline">Option 4</button>
</div></pre>
</ddk-example>

<h3 class="component-header">Button Group - Vertical</h3>

<ddk-example>
  <div class="btn-group-vertical">
    <button *ngFor="let button of verticalButtons"
            type="button"
            ngClass="{{button.class}}" class="btn"
            [class.active]="button === selectedButton"
            (click)="onSelect(button)">{{ button.label }}</button>
  </div>
  <pre>
<div class="btn-group-vertical">
  <button type="button" class="btn btn-primary">First Option</button>
  <button type="button" class="btn btn-secondary">Second Option</button>
  <button type="button" class="btn btn-outline btn-gray">Third Option</button>
  <button type="button" class="btn btn-link btn-default">Fourth Option</button>
</div></pre>
</ddk-example>

<h3 class="component-header">Flexbox Button Group - Horizontal</h3>

<ddk-example>
  <div class="btn-group btn-group-row">
    <button *ngFor="let button of flexButtons"
            type="button"
            class="btn btn-option btn-flex btn-outline"
            [class.active]="button === selectedButton"
            (click)="onSelect(button)">{{ button.label }}</button>
  </div>
  <pre>
<div class="btn-group">
  <button type="button" class="btn btn-option btn-flex btn-outline">Option 1</button>
  <button type="button" class="btn btn-option btn-flex btn-outline">Option 2</button>
  <button type="button" class="btn btn-option btn-flex btn-outline">Option 3</button>
  <button type="button" class="btn btn-option btn-flex btn-outline">Option 4</button>
</div></pre>
</ddk-example>

<h3 class="component-header">Toggle Button Group</h3>

<div class="alert alert-info" role="alert">This button group component requires the inclusion of <a href="https://github.com/valor-software/ngx-bootstrap" target="_blank" class="alert-link">NG-2 Bootstrap</a> - an external resource used to create Bootstrap-like elements in Angular 2 applications. Please refer to <a href="http://valor-software.com/ngx-bootstrap/#/buttons#radio" target="_blank" class="alert-link">this documentation</a> when customizing this component.</div>

<ddk-example>
  <div class="btn-group btn-group-toggle btn-group-teal">
    <label class="btn btn-option"
          [(ngModel)]="radioModel"
          btnRadio="option_a">Option A</label>
    <label class="btn btn-option"
          [(ngModel)]="radioModel"
          btnRadio="option_b">Option B</label>
  </div>
  <pre>
&lt;div class="btn-group btn-group-toggle btn-group-teal">
  &lt;label class="btn btn-option"
        &#91;(ngModel)]="radioModel"
        btnRadio="option_a">Option A&lt;/label>
  &lt;label class="btn btn-option"
        &#91;(ngModel)]="radioModel"
        btnRadio="option_b">Option B&lt;/label>
&lt;/div></pre>
</ddk-example>
