<h2 class="page-header flush-top">Groups</h2>

<p>By default, button groups use <code>.btn-default</code> to control their color. This class is interchangeable and extendable when used with any previously defined solid button styles found in the <a href="/ui-components/atoms/buttons/styles">Styles section</a> of this component.</p>

<section>
  <h3 class="component-header">Pills</h3>

  <ddk-example>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
</div>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Pills Link</h3>

  <ddk-example>
<div class="btn-group btn-group-link" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
</div>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Pills Bar</h3>

  <ddk-example>
<div class="btn-group btn-group-bar" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
</div>
<br>
<div class="btn-group btn-group-bar" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
  <button type="button" class="btn btn-default">Label</button>
</div>
<br>
<div class="btn-group btn-group-bar" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
</div>
<br>
<div class="btn-group btn-group-bar" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
</div>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Pills Bar (Flexbox)</h3>

  <ddk-example>
<div class="btn-group btn-group-bar btn-group-bar-flexbox" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
</div>
<br>
<div class="btn-group btn-group-bar btn-group-bar-flexbox" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
  <button type="button" class="btn btn-default">Label</button>
</div>
<br>
<div class="btn-group btn-group-bar btn-group-bar-flexbox" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
</div>
<br>
<div class="btn-group btn-group-bar btn-group-bar-flexbox" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
</div>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Pills Block</h3>

  <ddk-example>
<div class="btn-group btn-group-block" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
</div>
  </ddk-example>
</section>

<section>
  <h3 class="component-header">Pills Group Sizes</h3>

  <ddk-example>
<div class="btn-group btn-group-lg" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
</div>
<br>
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
</div>
<br>
<div class="btn-group btn-group-sm" role="group" aria-label="...">
  <button type="button" class="btn btn-default active">Default</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
  <button type="button" class="btn btn-default">Label</button>
</div>
  </ddk-example>
</section>