<h1 class="page-header">Contribution Tips</h1>

<p>Contributions to <code>crds-styles</code> and/or <code>crds-styleguide</code> (the DDK) are encouraged and may be facilitated through Github's <a href="https://help.github.com/articles/about-pull-requests/">pull-request</a> feature.</p>

<p>If you don't have publishing rights to the repository you'd like to contribute to, simply fork the repository to your own account and submit a pull-request that describes the nature of your changes and what features and/or defects it addresses.</p>

<p>Or you can just send an email to <a href="mailto:design@crossroads.net">design@crossroads.net</a>.</p>