

<div class="page-header">
  <h2>Icon Directory</h2>
</div>

<p>Below is a full list of the approved icons. Icons can be added either by an <a routerLink="/ui/icons/inline-svg">inline SVG</a> or an <a routerLink="/ui/icons/css-svg"><code>&lt;i&gt;</code> tag</a></p>
<p>
  In order to add a new icon to the directory, <a href="#">send a request</a> to Communications with the proposed new SVG.
</p>

<ul class="list-unstyled push-top soft-top icon-directory-list">
  <li *ngFor="let icon of icons">
    <svg class="icon icon-1" viewBox="0 0 256 256">
      <use attr.xlink:href="/assets/icons.svg#{{icon}}" height="256" width="256"></use>
    </svg>
    <span class="soft-half-left">{{icon}}</span>
  </li>
</ul>
