<div class="page-header">
  <h2>Images</h2>
</div>

<div class="page-subheader">
  <h3>Background Images</h3>
</div>

<p>All background utility classes have <code>background-repeat: no-repeat</code>.</p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-sm-3">Group of Classes</th>
      <th class="col-sm-9">CSS</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="col-sm-3"><code>.img-background</code></td>
      <td class="col-sm-9"><code>background-size: cover;</code><br>
      <code>background-position: 50% 50%;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.img-background-100</code></td>
      <td class="col-sm-9"><code>background-size: 100%;</code><br>
      <code>background-position: top left;</code></td>
    </tr>
  </tbody>
</table>

<div class="page-subheader">
  <h3>Image Sizing</h3>
</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-sm-3">Group of Classes</th>
      <th class="col-sm-9">CSS</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td class="col-sm-3"><code>.img-full-width</code></td>
      <td class="col-sm-9"><code>width: 100%;</code><br>
      <code>height: auto;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.img-full-size</code></td>
      <td class="col-sm-9"><code>width: 100%;</code><br>
      <code>height: 100%;</code></td>
    </tr>
  </tbody>
</table>


<div class="page-subheader">
  <h3>Image Positioning</h3>
</div>
<div class="alert alert-info" role="alert">An element with <code>position: absolute;</code> will position itself within the context of it's closest <code>position: relative;</code> parent.</div>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="col-sm-3">Group of Classes</th>
      <th class="col-sm-9">CSS</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <tr>
      <td class="col-sm-3"><code>.center</code></td>
      <td class="col-sm-9"><code>display: inline-block;</code><br>
      <code>left: 50%;</code><br>
      <code>position: absolute;</code><br>
      <code>top: 50%;</code><br>
      <code>transform: translate(-50%, -50%);</code><br>
      <code>vertical-align: middle;</code></td>
    </tr>
    <tr>
      <td class="col-sm-3"><code>.absolute-cover</code></td>
      <td class="col-sm-9"><code>position: absolute;</code><br>
      <code>top: 0;</code><br>
      <code>bottom: 0;</code><br>
      <code>left: 0;</code><br>
      <code>right: 0;</code></td>
    </tr>
  </tbody>
</table>


<div class="page-subheader">
  <h3>Circular Images</h3>
</div>

<p>To make an image circular, use the class <code>.img-circle</code> which is provided by Bootstrap <a href="http://getbootstrap.com/css/#images-shapes" target="_blank">here</a>. The following are treatments for circular images.</p>

<div class="page-subheader">
  <h3>Circle Size</h3>
</div>

<ddk-example>
  <img src="http://placehold.it/150x150" class="img-circle img-circle-small">
  <img src="http://placehold.it/150x150" class="img-circle img-circle-medium">
  <img src="http://placehold.it/150x150" class="img-circle img-circle-large">
</ddk-example>